section.packageContents {
    width: 1640px;
    margin: 64px auto;

    h2 {
        font-family: Montserrat;
        font-size: 24px;
        margin-top: 64px;
        font-weight: 600;
        letter-spacing: 0.2px;
    }

    .list {
        display: grid;
        grid-template-columns: repeat(4, 390px);
        justify-content: space-between;
        margin: 32px 0 58px 0;
        row-gap: 36px;

        article {
            padding: 16px;
            background: url("../img/frame6.svg") no-repeat;
            background-size: 100% 100%;
            display: grid;
            justify-content: space-between;
            grid-template-columns: 1fr max-content;

            .timer {
                grid-column: 1/3;
                grid-row: 1;
                align-self: start;
                justify-self: center;
                background: url("../img/frame7.svg") center center no-repeat;
                display: flex;
                justify-content: center;
                z-index: 1;
                width: 225px;
                padding: 10px 0;
                margin-top: 8px;

                span {
                    padding: 0 16px;
                    border-right: 1px solid;
                    font-size: 13px;
                    line-height: 1;
                    font-weight: 600;

                    strong {
                        font-family: NulShock;
                        font-size: 17px;
                    }

                    &:last-child {
                        border-right: none;
                    }
                }
            }

            picture {
                grid-column: 1/3;
                grid-row: 1;

                img {
                    width: 100%;
                    mask-image: url("../img/frame5Mask.svg");
                    mask-size: 100% 100%;
                    -webkit-mask-image: url("../img/frame5Mask.svg");
                    -webkit-mask-size: 100% 100%;
                    aspect-ratio: 352/359;
                    object-fit: cover;
                }
            }

            p {
                margin: 36px 0;
            }

            h3 {
                font-family: Montserrat;
                font-size: 17px;
                margin: 9px 6px;
                font-weight: 600;
            }

            .status {

                @include status;
                display: block;
                background: #9ea2a9;
                margin: 0 8px;
                align-self: center;
                font-size: 12px;

                &.revealed {
                    background: #16b338;

                }
            }
        }
    }

    @media (max-width: 1750px) {
        width: auto;
        margin-left: 48px;
        margin-right: 48px;
        .list {
            grid-template-columns: repeat(3, 390px);
            justify-content: space-around;
        }
    }
    @media (max-width: 1350px) {
        .list {
            grid-template-columns: repeat(2, 390px);
        }
    }
    @media (max-width: 1000px) {
        margin-top:32px;
        h2{
            margin: 0;
        }
        .list {
            margin-top:32px;
            grid-template-columns: repeat(1, 390px);
        }
    }
    @media (max-width: 500px) {
        margin-left: 36px;
        margin-right: 36px;
        .list {
            grid-template-columns: 1fr;
            justify-items: stretch;
        }
    }
    @media (max-width: 360px) {
        .list article .timer{
            margin-left: -16px;
            margin-right: -16px;
        }
    }
}