<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crypto Mayhem</title>
    <script src="../dist/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span>Telegram Announcement</span></a>
            </li>
            <li>
                <a href=" https://t.me/CryptoMayhemOfficial" class="icon-telegram"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.com/invite/K9EhcfQMdu" class="icon-discord"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span>Medium</span></a>
            </li>
        </ul>
    </aside>
    <aside class="sections">
        <ul>
            <li>
                <a href="#galacticMission">
                    <hexagon-number>1</hexagon-number>
                    <span>Play</span></a>
            </li>
            <li>
                <a href="#metaverse">
                    <hexagon-number>2</hexagon-number>
                    <span>Metaverse</span></a>
            </li>
            <li>
                <a href="#nft">
                    <hexagon-number>3</hexagon-number>
                    <span>NFT</span></a>
            </li>
            <li>
                <a href="#tokenomic">
                    <hexagon-number>4</hexagon-number>
                    <span>Tokenomic</span></a>
            </li>
            <li>
                <a href="#roadmap">
                    <hexagon-number>5</hexagon-number>
                    <span>Roadmap</span></a>
            </li>
            <li>
                <a href="#team">
                    <hexagon-number>6</hexagon-number>
                    <span>Team</span></a>
            </li>
            <li>
                <a href="#papers">
                    <hexagon-number>7</hexagon-number>
                    <span>Documents</span></a>
            </li>
            <li>
                <a href="#contact">
                    <hexagon-number>8</hexagon-number>
                    <span>Contact</span></a>
            </li>
        </ul>
    </aside>
    <header>
        <h1><img src="../img/logo.svg" alt="Crypto Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li class="onlyMobile">
                    <a href="#galacticMission">Play</a>
                </li>
                <li>
                    <a href="#metaverse">Metaverse</a>
                </li>
                <li>
                    <a href="#nft">NFT</a>
                </li>
                <li>
                    <a href="#tokenomic">Tokenomic</a>
                </li>
                <li>
                    <a href="#roadmap">Roadmap</a>
                </li>
                <li>
                    <a href="#team">Team</a>
                </li>
                <li>
                    <a href="#papers">Documents</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li class="isActive">
                    <a href="homepage_en.html">EN</a>
                </li>
                <li>
                    <a href="homepage.html">PL</a>
                </li>
            </ul>
            <cut-button class="buyAdriaButton" >BUY $ADRIA</cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <div class="groupOfSections" id="galacticMission">
        <section class="galacticMission">
            <span class="subTitle">join the</span>
            <span class="mainTitle">galactic mission</span>
            <cut-button class="buyAdriaButton">Play</cut-button>
            <picture class="decorativeimage-drones">
                <source srcset="../img/drones1.webp" type="image/webp">
                <source srcset="../img/drones1.png" type="image/png">
                <img srcset="../img/drones1.webp">
            </picture>
            <picture class="decorativeimage-vlad">
                <source srcset="../img/vlad.webp" type="image/webp">
                <source srcset="../img/vlad.png" type="image/png">
                <img src="../img/vlad.png">
            </picture>
        </section>
        <section class="galacticMission-video">
            <div class="video-wrapper">
				<div class="video-container">
					<iframe class="video-position" src="https://www.youtube.com/embed/TNfrTuSQM9U?autoplay=0&showinfo=0&controls=1&iv_load_policy=3&modestbranding=1&rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <section class="galacticMission-opinion">
            <div>
                <p>The world's first game that combines Grand Strategy Economy with Top-Down Shooter in blockchain</p>

                <div class="image-wrapper">
                    <div class="image">
                        <img src="../img/galacticMissionBg.jpg">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="metaverse">
        <div id="metaverse">
            <div class="description">
                <h2>
                    <span class="mainTitle">Metaverse</span>
                </h2>
                <p>
                    An exciting new metaverse in which the combination of bloody combat with an elaborate economic and
                    strategic model becomes a reality, thanks to blockchain technology. The basic idea behind Crypto
                    Mayhem is to provide players with one big game that combines Grand Strategy Economy with Top-Down
                    Shooter. The strategy game is about developing your colony on an alien planet, where
                    micro-management of digital goods and currency affects the environment according to a designed
                    model.
                </p>
                <p>
                    Crypto Mayhem is a virtual world where, in a distant future, humanity has united under the
                    leadership of Adria Corporation, fighting for survival against a space alien scourge. The struggle
                    is not only to defend inhabited planets, but also to extract valuable raw materials found on
                    alien-controlled planets.
                </p>
				<div class="gif-container">
					<div class="video-wrapper">
						<video src="../img/critter2_gif.mp4" loop autoplay muted></video>
					</div>
					<div class="video-wrapper">
						<video src="../img/weapon2_gif.mp4" loop autoplay muted></video>
					</div>
					<div class="video-wrapper">
						<video src="../img/juggernaut_turntable2_gif.mp4" loop autoplay muted></video>
					</div>
                </div>
            </div>
            <div class="image-wrapper">
                <div class="image">
                    <img src="../img/mech.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="nft" id="nft">
        <div>
            <div class="horizontalScroll">
                <div>
                    <div class="ntf-introduction">
                        <h2><img alt="NFT" src="../img/text/NFT.svg"></h2>
                        <div class="content">
                            <p>
                                Our NFT is an attribute value in the game. Unique attributes for each player.
                            </p>
                            <p>
                                Everyone can produce their original Mech (NFT) from a combination of
                                several elements NFT, to defeat hordes of enemies in a
                                bloody battle for survival.
                            </p>
                            <p>
                                The Drone (NFT) mines a rare resource and supports the mecha in battle.
                            </p>
                            <p>
                                Avatar (NFT) and NPC (NFT) as a unit can have an item
                                (NFT) with certain values that improve the profession.
                            </p>
                            <p>
                                Combining heroes per land (NFT) allows you to extract resources to develop your civilization.
                            </p>
                        </div>
                        <div class="endTitles">Mech / Dron / Weapon / Avatar / NPC / Items / Land</div>
                    </div>
                    <div class="nft-page">
                        <img class="text" src="../img/text/MECH.svg" alt="MECH">
                        <picture class="image image-mech">
                            <source srcset="../img/vlad.webp" type="image/webp">
                            <source srcset="../img/vlad.png" type="image/png">
                            <img srcset="../img/vlad.webp">
                        </picture>
                    </div>

                    <div class="nft-page">
                        <img class="text" src="../img/text/DRON.svg" alt="DRON">
                        <picture class="image image-dron">
                            <source srcset="../img/drones1.webp" type="image/webp">
                            <source srcset="../img/drones1.png" type="image/png">
                            <img srcset="../img/drones1.webp">
                        </picture>

                    </div>

                    <div class="nft-page">
                        <img class="text" src="../img/text/AVATAR.svg" alt="AVATAR">
                        <picture class="image image-avatar">
                            <source srcset="../img/avatar.webp" type="image/webp">
                            <source srcset="../img/avatar.png" type="image/png">
                            <img srcset="../img/avatar.webp">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="counters">
                <div class="introduction-arrow">
                    <hr>
                </div>
                <div class="counter">
                    <span>01</span>
                    <hr>
                    <span>03</span>
                </div>
                <div class="counter">
                    <span>02</span>
                    <hr>
                    <span>03</span>
                </div>
                <div class="counter">
                    <span>03</span>
                    <hr>
                    <span>03</span>
                </div>
            </div>
        </div>
    </section>
    <section class="getAdria">
        <div>
            <div class="content">
                <h2>
                    Survive to get $Adria
                </h2>
                <p>
                    $ADRIA (BEP-20) - the main currency of the metaverse, used throughout the game ecosystem in services
                    and trade. It allows you to stake provinces and take control of them for a set period
                    of time, in order to extract taxes from transactions made between players within that trading space.
                    The governance token (DAO) represents the power within Adria Corp, allowing the holder to decide on
                    the production process, game balance and can make proposals for changes to the game. The DAO will
                    decide what Adria Corp. should do with the pool of tokens collected.
                </p>
                <div class="button-wrapper">
                    <cut-button >Buy $Adria</cut-button>
                </div>
                <div class="sub">
                    <div>$Adria token on exchanges: <img src="../img/icons/Exchange.svg" class="exchangeMiniLogo"></div>
                    <div>Powered by: <span class="icon-binance"></span> BEP20:
<!--                        <span class="address"></span><span class="icon-copy"></span>-->
                        SOON
                    </div>
                </div>
            </div>
            <picture>
                <source srcset="../img/token1.webp" type="image/webp">
                <source srcset="../img/token1.png" type="image/png">
                <img src="../img/token1.png">
            </picture>
        </div>
    </section>
    <section class="supply" id="tokenomic">
        <div>
            <h2>
                <span>Total supply</span>
                <strong>1 000 000 000 $Adria</strong>
            </h2>
            <div class="graph">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
				<svg viewBox="0 0 590 590" height="590" width="590">
				  <g transform="translate(40,40)">
					<mask id="circleMask">
					  <path
						style="fill:#ffffff;"
						d="m 70,295 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"
					  />
					</mask>
					<mask id="reverseCircleMask">
					  <rect x="0" y="0" width="800" height="800" style="fill:#fff;" />
					  <path
						style="fill:#000;"
						class="circle"
						d="m 70,295 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"
					  />
					</mask>
					<foreignobject>
					  <picture>
						<source srcset="../img/token2.webp" type="image/webp" />
						<source srcset="../img/token2.png" type="image/png" />
						<img src="../img/token2.png" />
					  </picture>
					</foreignobject>
				  </g>
				  <g mask="url(#reverseCircleMask)">
					<g transform="matrix(1.8, 0, 0, 1.8, -247, -40)">
					  <path
						data-supply="1"
						style="fill:#a1fbb4;"
						d="m299.973,51c3.51,-0.001 7.019,0.135 10.519,0.408l-10.492,134.592c0,0 0,0 0,0l-0.027,-135z"
					  />
					  <path
						data-supply="2"
                        style="fill:#73fb90;"
						d="m310.626,51.419c39.327,3.105 75.328,23.256 98.537,55.156l-109.163,79.425c0,0 0,0 0,0l10.626,-134.581z"
					  />
					  <path
						data-supply="3"
                        style="fill:#01fb37;"
						d="m409.243,106.684c8.292,11.421 14.742,24.071 19.115,37.491l-128.358,41.825c0,0 0,0 0,0l109.243,-79.316z"
					  />
					  <path
						data-supply="4"
						style="fill:#1dd944;"
						d="m428.399,144.303c 6.127,18.865 8.021,38.848 5.548,58.528c0,1.405 -133.947,-16.699 -133.947,-16.831l0,0l128.399,-41.697z"
					  />
					  <path
						data-supply="5"
						style="fill:#19bf3c;"
						d="m433.93,202.965c -2.848,22.484 -11.311,43.889 -24.608,62.242l-109.322,-79.207c0,0 0,0 0,0l133.93,16.965z"
					  />
					  <path
						data-supply="6"
						style="fill:#16a634;"
						d="m409.243,265.316 c -16.742,23.058 -40.35,40.227 -67.444,49.05l-41.799,-128.366c0,0 0,0 0,0l109.243,79.316z"
					  />
					  <path
						data-supply="7"
						style="fill:#0f7324;"
						d="m341.671,314.408 c -27.06,8.781 -56.201,8.79 -83.266,0.024l41.595,-128.432c0,0 0,0 0,0l41.671,128.408z"
					  />
					  <path
						data-supply="8"
						style="fill:#0c591c;"
						d="m258.277,314.391c -27.056,-8.792 -50.642,-25.907 -67.393,-48.901l109.116,-79.49c0,0 0,0 0,0l-41.723,128.391z"
					  />
					  <path
						data-supply="9"
						style="fill:#094014;"
						d="m190.804,265.381c -16.755,-23.048 -25.787,-50.806 -25.804,-79.301l135,-0.08c0,0 0,0 0,0l-109.196,79.381z"
					  />
					  <path
						data-supply="10"
                        style="fill:#04260c;"
						d="m165,185.945c0.03,-74.464 60.349,-134.841 134.812,-134.945l0.188,135c0,0 0,0 0,0l-135,-0.055z"
					  />
					</g>
				  </g>
				</svg>
            </div>
            <ul>
                <li data-supply="1">
                    <h3>1.25%</h3>
                    <span class="title">Private Sale</span>
                    <div>
                        TGE: 20%<br>
                        Unlocked: 10 months / block
                    </div>
                </li>
                <li data-supply="2">
                    <h3>13.75%</h3>
                    <span class="title">IDO</span>
                    <div>
                        TGE: 20%<br>
                        Unlocked: 10 months / block
                    </div>
                </li>
                <li data-supply="3">
                    <h3>5%</h3>
                    <span class="title">LP REWARDS</span>
                    <div>
                        Unlocked: 25 months / block
                    </div>
                </li>
                <li data-supply="4">
                    <h3>7%</h3>
                    <span class="title">Advisors</span>
                    <div>
                        Lock: 12 months<br>
                        Unlocked: 32 months / block
                    </div>
                </li>
                <li data-supply="5">
                    <h3>8%</h3>
                    <span class="title">Exchange</span>
                    <div>
                        TGE: 20%<br>
                        Unlocked: 11 months / block
                    </div>
                </li>
            </ul>
            <ul>
                <li data-supply="6">
                    <h3>10%</h3>
                    <span class="title">Team</span>
                    <div>
                        Lock: 16 months<br>
                        Unlocked: 32 months / block
                    </div>
                </li>
                <li data-supply="7">
                    <h3>10%</h3>
                    <span class="title">reserve</span>
                    <div>
                        Lock: 6 months<br>
                        Unlocked: 40 months / block
                    </div>
                </li>
                <li data-supply="8">
                    <h3>10%</h3>
                    <span class="title">Marketing</span>
                    <div>
                        TGE: 10%<br>
                        Unlocked: 18 months / block
                    </div>
                </li>
                <li data-supply="9">
                    <h3>10%</h3>
                    <span class="title">Staking</span>
                    <div>
                        Unlocked: 25 months / block
                    </div>
                </li>
                <li data-supply="10">
                    <h3>25%</h3>
                    <span class="title">Play To Earn</span>
                    <div>
                        Lock: 1 month<br>
                        Unlocked: 40 months / block
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="adriaCorporation">
        <div>
            <h2>
                What we have in adria Corporation?
            </h2>
            <div class="list">
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/StakeAdria.svg">
						</p>
						<p>
							<h3 class="center-topic">Stake Adria</h3>
						</p>
					</div>
                    <p>Management and staking in exchange for protocol income. Allows you to stak city zones and take
                        control of them for a set period of time, in order to raise taxes from transactions made between
                        players within the space.
                    </p>
                </div>

                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/StakeNFT.svg">
						</p>
						<p>
							<h3 class="center-topic">Stake NFT</h3>
						</p>
					</div>
                    <p>Stake NFT will be done by using an Avatar or NPC with an NFT item that can be placed in the land.
                        This will allow for the extraction of resources in the game.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/MiniNFT.svg">
						</p>
						<p>
							<h3 class="center-topic">Mint NFT</h3>
						</p>
					</div>
                    <p>We put the look and attributes of future mecha equipment in your hands. You can configure them in
                        your workshop and create your own unique mecha.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/3dTDS.svg">
						</p>
						<p>
							<h3 class="center-topic">3D TDS</h3>
						</p>
					</div>
                    <p>Game layer developed in unity engine. Players will be able to use purchased / created by
                        themselves NFT (mechs, drones, weapons) by playing missions in which they can gain resources and
                        blueprints. During the missions, the player must defeat hordes of enemies in a bloody fight for
                        survival.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/DigitalOwnership.svg">
						</p>
						<p>
							<h3 class="center-topic">Real digital ownership</h3>
						</p>
					</div>
                    <p>You will be the perpetual owner of your digital items, even if the game were to shut down or slow
                        down development. Thanks to blockchain technology, every element of the game can be tokenised
                        which allows players to decide how they want to manage their items.
                    </p>
                </div>
                <div>
					<div>
						<p class="center-img">
							<img src="../img/icons/Safety.svg">
						</p>
						<p>
							<h3 class="center-topic">Security</h3>
						</p>
					</div>
                    <p>Digital game pieces can be easily tokenised and traded on blockchain-backed markets.
                        Scarcity-based positions usually delight in fraud, but with blockchain the risk is minimised.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap" id="roadmap">
        <div>
            <h2>
                Roadmap
            </h2>

            <picture class="drone">
                <source srcset="../img/drones2.webp">
                <source srcset="../img/drones2.png">
                <img src="../img/drones2.png">
            </picture>
            <div class="list">
                <div>
                    <h3>01</h3>
                    <ul>
                        <li>Creation of the idea of Crypto Mayhem</li>
                        <li>Company structure defined</li>
                        <li>Adria-Art & Adria Games partnership of Crypto Mayhem long term vision</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>02</h3>
                    <ul>
                        <li>Social Media Launch</li>
                        <li>Game Art concepts for mechs and weapons</li>
                        <li>Core IT team recruitment</li>
                        <li>Comcreo partnership</li>
                        <li>Brand Identity concept</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>03</h3>
                    <ul>
                        <li>Partnership</li>
                        <li>GDD (ver.1) accepted</li>
                        <li>Official Website</li>
                        <li>Roadmap</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>04</h3>
                    <ul>
                        <li>PGA live adventure</li>
                        <li>Tokenomy</li>
                        <li>Trailer</li>
                        <li>Company registration in Estonia</li>
                        <li>Whitepaper</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>05</h3>
                    <ul>
                        <li>$ADRIA presale</li>
                        <li>NFT Avatars, NPCs and items for sale</li>
                        <li>$ADRIA IDO</li>
                        <li>$ADRIA liquidity mining</li>
                        <li>$ADRIA early staking</li>
                        <li>$ADRIA CEX listings</li>
                    </ul>
                    <div class="status status-inProgress">in progress</div>
                </div>
                <div>
                    <h3>06</h3>
                    <ul>
                        <li>Geological missions</li>
                        <li>NFT Land sale</li>
                        <li>Basic planet infrastructure development</li>
                    </ul>
                </div>
                <div>
                    <h3>07</h3>
                    <ul>
                        <li>NFT Legendary Drones Sale</li>
                        <li>NFT Drones staking on mining spots for Mechanium rewards</li>
                    </ul>
                </div>
                <div>
                    <h3>08</h3>
                    <ul>
                        <li>NFT Legendary Mechs Sale</li>
                        <li>MVP Top-Down Shooter (alfa)</li>
                    </ul>
                </div>
                <div>
                    <h3>09</h3>
                    <ul>
                        <li>$ADRIA staking for provinces control</li>
                    </ul>
                </div>
                <div>
                    <h3>10</h3>
                    <ul>
                        <li>NFT Legendary weapons Sale</li>
                        <li>Top-Down Shooter (beta)</li>
                    </ul>
                </div>
                <div>
                    <h3>11</h3>
                    <ul>
                        <li>Advanced planet infrastructure development</li>
                    </ul>
                </div>
                <div>
                    <h3>12</h3>
                    <ul>
                        <li>Top-Down Shooter PVE</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="team" id="team">
        <h2>Team</h2>
        <div class="list-wrapper">
            <div class="list">
                <div>
                    <img src="../img/team/Andrzej.png">
                    <div class="name">Andrzej Bereźnicki</div>
                    <div class="title">CEO - Mayhem Games, </br>COO, Cryptocurrency Specialist</div>
                    <div class="links">
                        <a href="https://www.linkedin.com/in/andrzej-bere%C5%BAnicki-364bb9209/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="https://twitter.com/CeoAndrzej" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/team/Paweł.png">
                    <div class="name">Paweł Spionkowski</div>
                    <div class="title">CEO - Adria Games, </br>CTO, Blockchain Developer</div>
                    <div class="links">
                        <a href="https://www.linkedin.com/in/pawe%C5%82-spionkowski-237114194/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="https://twitter.com/PSpionkowski" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/team/Agata.png">
                    <div class="name">Agata Ziemniarska</div>
                    <div class="title">Chief Administration Officer</div>
                </div>
                <div>
                    <img src="../img/team/Artur.png">
                    <div class="name">Artur Łysko</div>
                    <div class="title">Lead Game Designer</div>
                </div>
                <div>
                    <img src="../img/team/Dominik.png">
                    <div class="name">Dominik Kubacki</div>
                    <div class="title">Art Director</div>
                </div>
                <div>
                    <img src="../img/team/Bartek.png">
                    <div class="name">Bartosz Kiełtyka</div>
                    <div class="title">Architect .NET, </br>Blockchain Developer</div>
                </div>
                <!--<div>
                    <img src="../img/team/Andrzej.png">
                    <div class="name">Patryk Grala</div>
                    <div class="title">Blockchain and Front-end Developer</div>
                </div>-->
                <div>
                    <img src="../img/team/Filip.png">
                    <div class="name">Filip Motyl</div>
                    <div class="title">Unity Developer</div>
                </div>
                <div>
                    <img src="../img/team/Mateusz.png">
                    <div class="name">Mateusz Kolasiński</div>
                    <div class="title">Unity Developer</div>
                </div>
                <div>
                    <img src="../img/team/Tomek.png">
                    <div class="name">Tomasz Kubacki</div>
                    <div class="title">Concept Artist</div>
                </div>
                <div>
                    <img src="../img/team/Adrian.png">
                    <div class="name">Adrian Żak</div>
                    <div class="title">Animator, Artist</div>
                </div>
                <div>
                    <img src="../img/team/Karolina.png">
                    <div class="name">Karolina Saniewska</div>
                    <div class="title">Quality Assurance</div>
                </div>
                <div>
                    <img src="../img/team/Wiktoria.png">
                    <div class="name">Wiktoria Marek-Ryś</div>
                    <div class="title">Social Media Specialist</div>
                </div>
            </div>
        </div>
        <div class="slider-wrapper">
            Move
            <drag-slider></drag-slider>
        </div>
    </section>
    <section class="behindUs">
        <h2>Behind us</h2>
        <ul>
            <li>
                <a href="https://adriagames.com/"><img src="../img/logos/adriagames.svg" alt="Adria Games"></a></li>
            <li><a href="https://adria-art.pl/"><img src="../img/logos/adriaart.png" alt="Adria Art"></a></li>
            <li><a href="https://comcreo.com/"><img src="../img/logos/comcreo.svg" alt="Comcreo"></a>
            </li>
        </ul>
    </section>
    <section class="partners" id="partners">
        <h2>Partners</h2>
        <ul>
            <!--<li>
                <a href="https://www.tenset.io/"><img src="../img/logos/tenset-infinity-logo-G3VFM6UF.svg"
                                                            alt="Tenset"></a>
            </li>-->
            <li>
                <a href="https://synapse.network/"><img src="../img/logos/SynapseNetwork.svg" alt="Synapse Network"></a>
            </li>
            <li>
                <a href="https://kryptoekipa.pl/"><img src="../img/logos/Kryptoekipa.svg" alt="Kryptoekipa"></a>
            </li>
        </ul>
    </section>
    <section class="discover" id="papers">
        <div class="mouseReactive">
            <h2>Discover more about Crypto Mayhem</h2>
            <article>
                <div class="image">
                    <img src="../img/whitepaperBack.svg">
                    <img src="../img/whitepaperFront.svg">
                </div>

                <h3>Whitepaper</h3>
                <p>Detailed description of the project content including functionality of our token and NFT. Overview of
                    the entire ecosystem and visual interpretations.</p>
                <cut-button href="../img/documents/whitepaper_eng.pdf">Download</cut-button>
            </article>
            <article>
                <div class="image">
                    <img src="../img/pitchdeckBack.svg">
                    <img src="../img/pitchdeckFront.svg">
                </div>

                <h3>PITCHDECK</h3>
                <p>Game design visualisation. It will give you an initial understanding of our ecosystem and a vision of
                    the project.</p>
                <cut-button href="../img/documents/pitchdeck_eng.pdf">Download</cut-button>
            </article>
        </div>
    </section>
    <footer id="contact">
        <hr class="joinUs">
        <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">

        <ul class="socialLinks">
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement"
                   class="icon-telegramlight"><span>Telegram Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemOfficial" class="icon-telegramlight"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.com/invite/K9EhcfQMdu" class="icon-discordlight"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
            </li>
        </ul>
        <a href="mailto:info@cryptomayhem.io" class="email">info@cryptomayhem.io</a>
        <div class="finalFooter">
            <div>&copy; 2022 Crypto Mayhem</div>
            <div>
                <a>Privacy Policy</a><br>
                <a>Terms & Conditions</a>
            </div>
            <div>
<!--                Designed by <a href="https://www.behance.net/oskartomecki" class="creatorsLink">Oskar Tomecki</a><br>-->
<!--                Coded by <a href="https://green-code.studio/" class="creatorsLink">Green Code Studio</a>-->
            </div>
        </div>
    </footer>
</main>
</body>
</html>