<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../dist/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <div class="headerBg"></div>
    <header class="isFloating has-mainMenu-few">
        <h1><img src="../img/logo.svg" alt="Crypt0 Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li>
                    <a href="/">Play</a>
                </li>
                <li>
                    <a href="/">Marketplace</a>
                </li>
                <li>
                    <a href="/">Staking</a>
                </li>
                <li>
                    <a href="/">Vesting</a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li class="isActive">
                    <a href="tmp">EN</a>
                </li>
                <li>
                    <a href="tmp">PL</a>
                </li>
            </ul>
            <cut-button class="buyAdriaButton" href="/">CONNECT WALLET</cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section class="vesting">
        <div class="content">
            <h2>Vesting - pick up your tokens every block
            </h2>
            <ul>
                <li>
                    Schedule your ADRIA vesting every block.
                </li>
                <li>
                    You can claim the available amount at any time by clicking the "Claim ADRIA" button.
                </li>
                <li>
                    Once you open it, your tokens will be transferred to your wallet.
                </li>
                <li>
                    You can return each day to claim your newly acquired tokens (until your entire balance has been
                    claimed).
                </li>
            </ul>
            <div class="info">
                Important: you will not be able to claim your tokens without clicking the "Claim ADRIA" button..
            </div>
            <div class="info">
                Note: please note that you must have BNB (BEP20) in your wallet in order to cover network fees for each
                ADRIA claim.
            </div>
        </div>
        <div class="card">
            <h3>Vesting</h3>
            <div class="amount">42<span class="icon-adria-token"></span></div>
            <div class="claimed">Claimed</div>
            <div class="amount2">15/42 <span class="icon-adria-token"></span></div>
            <hr>
            <dl>
                <dt>Claimed</dt>
                <dd>16</dd>
                <dt>Ready to claim</dt>
                <dd>10</dd>
                <dt>Locked balance</dt>
                <dd>9</dd>
            </dl>
            <hr>
            <dl>
                <dt>Total balance</dt>
                <dd>35</dd>
            </dl>
            <div class="buttons">
                <cut-button>CLAIM $ADRIA</cut-button>
            </div>
        </div>
    </section>
</main>
</body>
</html>