section.galacticMission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 320px 0 300px 0;
    text-align: center;
    position: relative;
    height: 100vh;
    min-height: 750px;
    box-sizing: border-box;


    &::before {
        content: '';
        display: block;
        position: absolute;

        transform: rotate(-18deg);
        opacity: 0.46;
        bottom: -250px;
        right: calc(50% - 1067px);

        width: 667px;
        height: 1072px;
        background-image: radial-gradient(closest-side, #c23b1d 0%, rgba(194, 59, 29, 0) 100%);
        z-index: -4;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        background: radial-gradient(closest-side, #c83a1a, transparent);
        width: 158px;
        height: 211px;
        transform: rotate(-18deg) scale(1.5);
        opacity: 0.46;
        left: calc(50% - 632px);
        top: 404px;
        z-index: -1;
        animation: 6s ease-in-out bounce-drone-light infinite;
    }

    .subTitle {
        font-size: 71px;
        color: transparent;
        -webkit-text-stroke: .5px white;
        text-transform: uppercase;
        font-family: "Nulshock";

        letter-spacing: 3px;
        margin-bottom: -5px;
    }

    .mainTitle {
        font-size: 122px;
        text-transform: uppercase;
        font-family: "Nulshock";
        max-width: 900px;
        text-align: center;
        letter-spacing: -1.5px;
        line-height: 0.95;

        &.mainTitle-long {
            font-size: 92px;
        }
    }

    cut-button {
		--border: #767676;//#C83A1A;//TODO Disable Button
		--background: #767676;//#C83A1A;//TODO Disable Button
        width: 278px;
        box-sizing: border-box;
        margin: 40px;
        font-weight: 600;
        line-height: 2;
        filter: drop-shadow(0 3px 26px rgba(#c83a1a, 0.36));
        position: relative;
        z-index: 2000;

        .isHamburgerOpen & {
            z-index: 0;
        }
    }

    .decorativeimage-drones {
        position: absolute;
        left: calc(50% - 773px);
        top: 349px;
        width: 298px;
        z-index: -3;
        animation: 6s ease-in-out bounce-drone infinite;

        img {
            width: 100%;
        }
    }

    .decorativeimage-vlad {
        position: absolute;
        right: calc(50% - 1067px);
        width: 760px;
        transform: scaleX(-1);
        z-index: -2;
        bottom: 0;

        img {
            width: 100%;
        }

    }

    @keyframes bounce-drone {
        0% {
            transform: none;
        }
        50% {
            transform: translate(-20px, -80px);
        }
    }
    @keyframes bounce-drone-light {
        0% {
            transform: rotate(-18deg) scale(1.5);
        }
        50% {
            transform: translate(-20px, -80px) rotate(-18deg) scale(1.5);
        }
    }

    @media(max-width: 1700px) {
        &::before {
            right: calc(25% - 1067px + 1700px / 4);
        }
        &::after {
            left: calc(25% - 632px + 1700px / 4);
        }
        .decorativeimage-drones {
            left: calc(25% - 773px + 1700px / 4);
        }

        .decorativeimage-vlad {
            right: calc(25% - 1067px + 1700px / 4);
        }
    }

    @media(max-width: 1200px) {

        min-height: 660px;

        .subTitle {
            font-size: calc(71px / 2 + 71 / 1200 * 50vw);
        }
        .mainTitle {
            font-size: calc(122px / 2 + 122 / 1200 * 50vw);

            &.mainTitle-long {
                font-size: calc(80px / 2 + 80 / 1200 * 50vw);
            }
        }
    }
    @media(max-width: 900px) {
        height: calc(100vh);
        min-height: 720px;
        padding: 100px 0 0 0;
        display: grid;
        grid-template-rows: 1fr min-content min-content min-content;
        align-items: center;
        justify-items: center;

        &::after {
            display: none;
        }
        .decorativeimage-drones {
            display: none;
        }
        &::before {
            position: relative;
            top: 0;
            right: 0;
            grid-row: 1;
            grid-column: 1;
            width: 376px;
            height: 500px;
            margin: -200px;
        }
        .decorativeimage-vlad {
            position: relative;
            top: 0;
            right: 0px;
            width: 376px;
            grid-row: 1;
            flex: 1 1 auto;
            object-fit: contain;
            grid-column: 1;
        }
        .subTitle {
            grid-row: 2;
            grid-column: 1;
        }
        .mainTitle {
            grid-row: 3;
            grid-column: 1;
        }
        .playButton {
            grid-row: 4;
            grid-column: 1;
            width: 240px;
            padding: 8px;
        }
    }

    @media(max-width: 700px) {
        min-height: 700px;
        .subTitle {
            font-size: calc(71 / 900 * 100vw);
        }
        .mainTitle {
            font-size: calc(122 / 900 * 100vw);

            &.mainTitle-long {
                font-size: calc(71 / 900 * 100vw);
            }
        }
    }
    @media(max-width: 400px) {
        min-height: 600px;
    }
}

section.galacticMission-video {
    height: 968px;
    width: 1662px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/frame1.svg);
    margin: auto;
    position: relative;

    .video-container {
		position: relative;
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
	}
	
    .video-position {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
    .video-wrapper {
        mask: url(../img/frame1mask.svg) no-repeat center center;
        mask-size: contain;
        -webkit-mask: url(../img/frame1mask.svg) no-repeat center center;
        -webkit-mask-size: contain;
        height: calc(100% - 56px);
        margin: 28px;
        width: calc(100% - 56px);

        video {
            border: none;
            width: 100%;
            height: 100%;
            background: black;
        }
    }

    .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 10px 68px 58px 10px;

        .volume {
            font-size: 32px;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
        }

        .icon-volume-off {
            transform: scale(1.29) translateY(1px);
        }

        img {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
            transition: 200ms all;

            &:hover {
                opacity: 0.7;
            }
        }

        span {
            transition: 200ms opacity;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    @media (min-width: 1750px) and (max-height: 1000px) {
        height: calc(100vh - 48px);
        width: calc((100vh - 48px) / 968 * 1662);
        background-size: contain;
    }
    @media (max-width: 1750px) {
        width: 90vw;
        height: 968/1662 * 90vw;
        background-size: contain;

        video {
            height: 95%;
            width: 95%;
        }
        @media (min-aspect-ratio: 5/3) {
            height: calc(100vh - 48px);
            width: calc((100vh - 48px) / 968 * 1662);
        }
    }
    @media (max-width: 900px) {
        margin: 64px auto;
    }
    @media (max-width: 700px) {
        .video-wrapper {
            height: calc(100% - 32px);
            margin: 16px;
            width: calc(100% - 32px);
        }
        .buttons {
            padding: 10px 46px 30px 10px;
        }
    }

    @media (max-width: 500px) {
        .buttons {
            .volume {
                font-size: 24px;
            }

            img {
                width: 48px;
                height: 48px;
            }
        }
    }
    @media (max-width: 400px) {
        .video-wrapper {
            height: calc(100% - 24px);
            margin: 12px;
            width: calc(100% - 24px);
        }
        .buttons {
            padding: 10px 24px 10px 10px;
        }
    }
}


section.galacticMission-opinion {
    > div {
        justify-content: center;
        align-items: center;
        margin: 192px auto;
    }

    p {
        margin-left: 148px;
        font-family: Nulshock;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.12;

        margin-right: -10px;
        z-index: 1;
        position: relative;
        letter-spacing: 0.4px;
    }

    @include imageWithDescription(false);

    .image {
        img {

            object-position: 81%;
        }
    }

    @media(max-width: 1700px) {
        > div {
            width: auto;
            grid-template-columns: 830px 1fr;
        }
        .image {
            img, &::after {
                width: 1432/1700*100vw;
                height: 832/1700*100vw;
            }
        }

    }
    @media(max-width: 1300px) {
        > div {
            grid-template-columns: 2fr 1fr;
        }
        p {
            margin-left: 130/1300*100vw;
            font-size: 48/1300*100vw;
        }
    }
    @media(max-width: 900px) {
        > div {
            margin: 64px auto;
            grid-template-columns: 1fr;
        }
        p {
            margin: 0 48px -100vw 48px;
            font-size: 7vw;
        }
        .image {
            margin: 0;
            overflow: hidden;
            justify-self: center;

            img, &::after {
                width: 1432/1700*200vw;
                height: 832/1700*200vw;
            }
        }
    }
    @media(max-width: 700px) {
	
        p {
            margin: 0 48px -70vw 48px;
            font-size: 5vw;
        }
		
        .image {
            img, &::after {
                width: 1432px * 0.6;
                height: 832px * 0.6;
            }
        }
    }
    @media(max-width: 500px) {
	
        p {
            margin: 0 48px -100vw 48px;
            font-size: 4vw;
        }
		
        p {
            margin-left: 36px;
            margin-right: 36px;
            line-height: 1.4;
        }
    }
}