<div id="info">
    <p *ngIf="connected"> Account: {{ account }} </p>
    <button *ngIf="connected" class="green"> Chain ID: {{ chainId }} </button>
</div>

<div id="auth">
    <button *ngIf="connected && authenticated && registered" (click)="logout()" [disabled]="processing" class="purple"> Logout </button>
    <button *ngIf="connected && !authenticated && registered" (click)="login()" [disabled]="processing" class="blue"> Login </button>
    <button *ngIf="connected && !authenticated && !registered" (click)="register()" [disabled]="processing" class="blue"> Register </button>
</div>

<div id="wallet">
    <button *ngIf="connected" (click)="disconnect()" [disabled]="processing" class="red"> Disconnect </button>
    <button *ngIf="!connected" (click)="connect()" [disabled]="processing" class="green"> Connect </button>
</div>
