
.icon-twitter:before { content: '\e809'; } /* '' */
.icon-telegram:before { content: '\e80d'; } /* '' */
.icon-yt:before { content: '\e80e'; } /* '' */
.icon-discord:before { content: '\e80f'; } /* '' */
.icon-medium:before { content: '\e810'; } /* '' */
.icon-binance:before { content: '\e812'; } /* '' */
.icon-linkedin:before { content: '\e813'; } /* '' */
.icon-twitterlight:before { content: '\e814'; } /* '' */
.icon-telegramlight:before { content: '\e815'; } /* '' */
.icon-ytlight:before { content: '\e816'; } /* '' */
.icon-discordlight:before { content: '\e817'; } /* '' */
.icon-mediumlight:before { content: '\e818'; } /* '' */
.icon-wallet:before { content: '\e819'; } /* '' */
.icon-gift:before { content: '\e81a'; } /* '' */
.icon-dollar:before { content: '\e81b'; } /* '' */
.icon-volume:before { content: '\e81c'; } /* '' */
.icon-volume-off:before { content: '\e81d'; } /* '' */
.icon-adria-token:before { content: '\e81e'; } /* '' */
.icon-copy:before { content: '\e81f'; } /* '' */
.icon-profile:before { content: '\e820'; } /* '' */
