
.icon-volume-off:before { content: '\e800'; } /* '' */
.icon-volume:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e809'; } /* '' */
.icon-telegram:before { content: '\e80d'; } /* '' */
.icon-yt:before { content: '\e80e'; } /* '' */
.icon-discord:before { content: '\e80f'; } /* '' */
.icon-medium:before { content: '\e810'; } /* '' */
.icon-binance:before { content: '\e812'; } /* '' */
.icon-linkedin:before { content: '\e813'; } /* '' */
.icon-twitterlight:before { content: '\e814'; } /* '' */
.icon-telegramlight:before { content: '\e815'; } /* '' */
.icon-ytlight:before { content: '\e816'; } /* '' */
.icon-discordlight:before { content: '\e817'; } /* '' */
.icon-mediumlight:before { content: '\e818'; } /* '' */
