aside.socialLinks {
    position: fixed;
    left: 24px;
    top: calc(50% - 306px / 2);
    z-index: 100;
    opacity: var(--opacity);

    &:hover {
        opacity: 1;
    }

    ul {
        margin: 0 0 0 -10px;
        padding: 0;
        display: flex;
        height: 306px;
        flex-direction: column;
        justify-content: space-between;

        &::before {
            display: block;
            position: absolute;
            top: -20px;
            left: -20px;
            bottom: -20px;
            background: black;
            content: '';
            filter: blur(50px);
            z-index: -1;
            width: 65px;
            transition: width 300ms ease-in-out;
        }

        li {
            display: block;
            margin: 0;
            padding: 0;

            a {
                padding: 10px;
                white-space: nowrap;
            }

            span {
                opacity: 0;
                transition: 300ms ease opacity;
                margin-left: 24px;
                display: none;
            }

            .icon-discord::before {
                font-size: 24px;
                margin-left: 1px;
            }

            .icon-medium::before {
                font-size: 21px;
                margin-left: 3px;
            }

            ::before {
                width: 17px;
            }
        }

        &:hover {
            li {
                span {
                    opacity: 1;
                    display: inline;
                }
            }

            &::before {
                width: 150px;
            }
        }
    }

    @media (max-width: 1800px) {
        left: 16px;
    }
    @media (max-width: 1200px) {
        display: none;
        position: fixed;
        z-index: 1001;
        bottom: 8px;
        left: 20px;
        right: 20px;
        top: auto;
        ul {
            flex-direction: row;
            height: auto;
            justify-content: stretch;
            width: 100%;
            margin: 0;

            &::before {
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                width: auto;
            }

            li {
                flex-grow: 1;

                a {
                    padding: 24px 0;
                    display: block;
                    text-align: center;

                    span {
                        display: none;
                    }
                }
            }

            &:hover {
                li {
                    a {
                        span {
                            display: none;
                        }
                    }
                }
            }
        }

        .isHamburgerOpen & {
            display: block;
        }
    }
}

aside.sections {
    position: fixed;
    right: 24px;
    top: calc(50% - 516px / 2);
    z-index: 100;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 482px;

        &::before {
            display: block;
            position: absolute;
            top: -20px;
            right: -20px;
            bottom: -20px;
            background: black;
            content: '';
            filter: blur(50px);
            z-index: -1;
            width: 65px;
            transition: width 300ms ease-in-out;
        }
    }

    li {

        display: block;

        a {
            display: flex;

            span {
                order: 1;
                opacity: 0;
                flex-grow: 1;
                text-align: right;
                margin-right: 24px;
                display: none;
            }

            hexagon-number {
                order: 2;
                vertical-align: middle;
                display: grid;
                align-items: center;
                justify-items: center;
                position: relative;
                width: 32px;
                height: 32px;
                color: transparent;
                font-size: 13px;

                &::part(svg) {
                    width: 32px;
                    height: 32px;
                    position: absolute;
                }

                &::part(path1) {
                    fill: white;
                    // transform-origin: 50% 50%;
                    transform: translate(16px, 16px) scale(.4);
                    transition: 300ms all;
                }

                &::part(path2) {
                    // transform-origin: 50% 50%;
                    stroke: white;
                    fill: transparent;
                    transition: 300ms all;
                    transform: translate(16px, 16px) scale(1);
                }

            }

            &:hover, &.isActive {
                hexagon-number {
                    color: white;

                    &::part(path1) {
                        fill: transparent;
                        stroke: white;
                        stroke-width: 1px;
                        transform: translate(16px, 16px) scale(.85);
                    }

                    &::part(path2) {
                        stroke: white;
                        stroke-width: .2px;
                        transform: translate(16px, 16px) scale(1.2);
                    }
                }
            }

            &.isActive {
                font-weight: 600;
            }
        }
    }

    ul:hover {
        li {
            a {
                span {
                    opacity: 1;
                    display: inline;
                }
            }
        }

        &::before {

            width: 150px;
        }
    }

    @media (max-width: 1800px) {
        right: 14px;
    }
    @media (max-width: 1200px) {
        display: none;
    }
}