.headerBg {
    z-index: 999;
    position: fixed;
    height: 106px;
    left: 0;
    right: 0;
    top: -106px;
    background: #1c1b1b url(../img/background.png);
    transition: top 0.2s ease-in-out;

    .isScrollUp & {
        top: 0;
    }

    @media(max-width: 1200px) {
        display: none;
    }
}

header {
    max-width: 1625px;
    margin: 57px auto -163px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;


    @media(min-width: 1200.01px) {
        @media (max-height: 700px) {
            margin-top: 0;
        }
        &.isFloating {
            top: 57px;
            position: sticky;
            //top: calc(var(--scrollHeader) * -100px);
            top: -100px;
            transition: top 0.2s ease-in-out;

            .isScrollUp & {
                top: 0;
                //transform: translateY(calc(var(--scrollHeader) * 100px));
            }
        }
    }

    h1 {
        img {
            display: block;
        }
    }

    nav.mainMenu {
        ul {
            display: flex;
            align-items: center;
            margin: 0;
            padding: 0;

            li {
                display: block;

                &.onlyMobile {
                    display: none;
                }

                a {
                    display: block;
                    padding: 10px 27px;
                }
            }
        }
    }

    .header-rest {
        display: flex;
        align-items: center;
        justify-content: end;

        ul {
            display: flex;
            align-items: center;
            margin: 0 36px;

            li {
                display: block;

                a {
                    display: block;
                    padding: 10px 5px;
                    opacity: .5;
                }

                &.isActive {
                    a {
                        opacity: 1;
                    }
                }
            }
        }

        .buyAdriaButton {
            --border: #16b338;
            --background: #1c1b1b;
            flex: 0 0 auto;
            filter: drop-shadow(0px 3px 26px rgba(#16B338, .15));
        }
    }

    .hamburger {
        display: none;
    }

    .icon-profile {
        font-size: 24px;
        display: inline-block;
    }

    @media(max-width: 1700px) {
        margin: 57px 25px;
        max-width: none;
        @media(min-width: 1200.01px) {
            @media (max-height: 700px) {
                margin-top: 0;
            }
            &.isFloating {

                margin: 57px 25px -163px;
            }
        }

    }
    @media(max-width: 1600px) {

        grid-template-columns: max-content 1fr max-content;
        nav.mainMenu {
            ul {
                justify-content: space-evenly;

                li {
                    a {
                        padding-left: 0;
                        padding-right: 0;
                        display: block;
                        text-align: center;
                    }
                }
            }
        }
        .header-rest {
            .langSelection {
                margin-left: 0;
                padding-left: 0;
            }
        }
    }
    @media(max-width: 1200px) {
        padding: 24px 36px;
        margin: 0;
        width: auto;
        bottom: 0;
        top: 0;
        grid-template-columns: 1fr max-content;
        grid-template-rows: max-content max-content 1fr;

        h1 {
            margin: 0;
            align-self: center;

            img {
                width: 62px;
                display: block;
            }
        }
        .header-rest {
            display: none;
            grid-row: 2;
            grid-column: 1/3;
            justify-content: space-between;
            margin-top: 24px;
        }

        nav.mainMenu {
            display: none;
            grid-row: 3;
            grid-column: 1/3;
            align-self: stretch;
            padding: 0;
            overflow: auto;
            margin: 38px 0 48px 0;

            ul {
                flex-direction: column;
                align-items: stretch;
                justify-content: space-around;
                height: 100%;
                max-height: 575px;
                min-height: 432px;
                box-sizing: border-box;

                li {
                    &.onlyMobile {
                        display: block;
                    }

                    a {
                        text-align: left;
                        font-family: NulShock;
                        font-size: 21px;
                        display: inline-block;
                    }
                }
            }

            &.mainMenu-few {
                ul {
                    max-height: 282px;
                    min-height: 216px;
                }
            }
        }

        .hamburger {
            grid-row: 1;
            grid-column: 2;
            display: block;
            width: 16px;
            height: 16px;
            position: relative;

            > * {
                background: #f1f1f1;
                height: 2px;
                width: 16px;
                position: absolute;
                transition: all 200ms;
                right: 0;
                top: 8px;
                transform-origin: 100% 50%;
            }

            :nth-child(1) {
                transform: translateY(-5px);
            }

            :nth-child(2) {
                transform: translateY(0);
            }

            :nth-child(3) {
                transform: translateY(5px);
            }

            :nth-child(4) {
                transform: translateX(1px) rotate(45deg);
                top: 16px;
                width: 0;
            }

            :nth-child(5) {
                transform: translateX(1px) rotate(-45deg);
                width: 0;
                top: 2px;
            }
        }
        .isHamburgerOpen & {
            background: black;
            position: fixed;

            h1{
                img {
                 visibility: hidden;
                    pointer-events: none;
                }
            }
            .header-rest {
                display: flex;
            }

            .mainMenu {
                display: block;
            }

            .hamburger {
                :nth-child(1) {
                    width: 0;
                    transform: translateY(-6px) translateX(-1px);
                }

                :nth-child(2) {
                    width: 0;
                    transform: translateX(-8px);
                }

                :nth-child(3) {
                    width: 0;
                    transform: translateY(6px) translateX(-1px);
                }

                :nth-child(4) {
                    width: 20px;
                    transform: translateX(-1px) rotate(+45deg);
                }

                :nth-child(5) {
                    width: 20px;
                    transform: translateX(-1px) rotate(-45deg);
                }
            }
        }
    }
    @media(max-width: 900px) {
        margin-bottom: 0;
    }
}