.groupOfSections {
    overflow: hidden;
    margin-bottom: -196px;
    @media(max-width: 900px) {
        margin-bottom: 0px;
    }
}

section.galacticMission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 320px 0 300px 0;
    text-align: center;
    position: relative;
    height: 100vh;
    min-height: 750px;
    box-sizing: border-box;


    &::before {
        content: '';
        display: block;
        position: absolute;

        transform: rotate(-18deg);
        opacity: 0.46;
        bottom: -250px;
        right: calc(50% - 1067px);

        width: 667px;
        height: 1072px;
        background-image: radial-gradient(closest-side, #c23b1d 0%, rgba(194, 59, 29, 0) 100%);
        z-index: -4;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        background: radial-gradient(closest-side, #c83a1a, transparent);
        width: 158px;
        height: 211px;
        transform: rotate(-18deg) scale(1.5);
        opacity: 0.46;
        left: calc(50% - 632px);
        top: 404px;
        z-index: -1;
        animation: 6s ease-in-out bounce-drone-light infinite;
    }

    .subTitle {
        font-size: 71px;
        color: transparent;
        -webkit-text-stroke: .5px white;
        text-transform: uppercase;
        font-family: "Nulshock";

        letter-spacing: 3px;
        margin-bottom: -5px;
    }

    .mainTitle {
        font-size: 122px;
        text-transform: uppercase;
        font-family: "Nulshock";
        max-width: 900px;
        text-align: center;
        letter-spacing: -1.5px;
        line-height: 0.95;
    }

    cut-button {
        --background: #c83a1a;
        --border: #c83a1a;
        width: 278px;
        box-sizing: border-box;
        margin: 40px;
        font-weight: 600;
        line-height: 2;
        filter: drop-shadow(0 3px 26px rgba(#c83a1a, 0.36));
    }

    .decorativeimage-drones {
        position: absolute;
        left: calc(50% - 773px);
        top: 349px;
        width: 298px;
        z-index: -3;
        animation: 6s ease-in-out bounce-drone infinite;

        img {
            width: 100%;
        }
    }

    .decorativeimage-vlad {
        position: absolute;
        right: calc(50% - 1067px);
        width: 760px;
        transform: scaleX(-1);
        z-index: -2;
        bottom: 0;

        img {
            width: 100%;
        }

    }

    @keyframes bounce-drone {
        0% {
            transform: none;
        }
        50% {
            transform: translate(-20px, -80px);
        }
    }
    @keyframes bounce-drone-light {
        0% {
            transform: rotate(-18deg) scale(1.5);
        }
        50% {
            transform: translate(-20px, -80px) rotate(-18deg) scale(1.5);
        }
    }

    @media(max-width: 1700px) {
        &::before {
            right: calc(25% - 1067px + 1700px / 4);
        }
        &::after {
            left: calc(25% - 632px + 1700px / 4);
        }
        .decorativeimage-drones {
            left: calc(25% - 773px + 1700px / 4);
        }

        .decorativeimage-vlad {
            right: calc(25% - 1067px + 1700px / 4);
        }
    }

    @media(max-width: 1200px) {

        min-height: 660px;

        .subTitle {
            font-size: calc(71px / 2 + 71 / 1200 * 50vw);
        }
        .mainTitle {
            font-size: calc(122px / 2 + 122 / 1200 * 50vw);
        }
    }
    @media(max-width: 900px) {
        height: calc(100vh);
        min-height: 720px;
        padding: 100px 0 0 0;
        display: grid;
        grid-template-rows: 1fr min-content min-content min-content;
        align-items: center;
        justify-items: center;

        &::after {
            display: none;
        }
        .decorativeimage-drones {
            display: none;
        }
        &::before {
            position: relative;
            top: 0;
            right: 0;
            grid-row: 1;
            grid-column: 1;
            width: 376px;
            height: 500px;
            margin: -200px;
        }
        .decorativeimage-vlad {
            position: relative;
            top: 0;
            right: -55px;
            width: 376px;
            grid-row: 1;
            flex: 1 1 auto;
            object-fit: contain;
            grid-column: 1;
        }
        .subTitle {
            grid-row: 2;
            grid-column: 1;
        }
        .mainTitle {
            grid-row: 3;
            grid-column: 1;
        }
        .playButton {
            grid-row: 4;
            grid-column: 1;
            width: 240px;
            padding: 8px;
        }
    }

    @media(max-width: 700px) {
        min-height: 700px;
        .subTitle {
            font-size: calc(71 / 900 * 100vw);
        }
        .mainTitle {
            font-size: calc(122 / 900 * 100vw);
        }
    }
    @media(max-width: 400px) {
        min-height: 600px;
    }
}

section.galacticMission-video {
    height: 968px;
    width: 1662px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/frame1.svg);
    margin: auto;
    position: relative;

    .video-wrapper {
        mask: url(../img/frame1mask.svg) no-repeat center center;
        mask-size: contain;
        -webkit-mask: url(../img/frame1mask.svg) no-repeat center center;
        -webkit-mask-size: contain;
        height: calc(100% - 56px);
        margin: 28px;
        width: calc(100% - 56px);

        video {
            border: none;
            width: 100%;
            height: 100%;
            background: black;
        }
    }

    .buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        backdrop-filter: blur(20px);
        padding: 10px 68px 58px 10px;

        .volume {
            font-size: 32px;
            cursor: pointer;
            vertical-align: middle;
            display: inline-block;
        }

        img {
            cursor: pointer;
            display: inline-block;
            vertical-align: middle;
        }
    }


    @media (min-width: 1750px) and (max-height: 1000px) {
        height: calc(100vh - 48px);
        width: calc((100vh - 48px) / 968 * 1662);
        background-size: contain;
    }
    @media (max-width: 1750px) {
        width: 90vw;
        height: 968/1662 * 90vw;
        background-size: contain;

        video {
            height: 95%;
            width: 95%;
        }
        @media (min-aspect-ratio: 5/3) {
            height: calc(100vh - 48px);
            width: calc((100vh - 48px) / 968 * 1662);
        }
    }
    @media (max-width: 900px) {
        margin: 64px auto;
    }
}

@mixin imageWithDescription($left, $mask:url(../img/frame2mask.svg), $bg:url(../img/frame2.svg)) {
    > div {
        width: 1662px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 192px auto;
    }
    .description {
        @if ($left) {
            grid-column: 2;
            grid-row: 1;
        }
    }
    .image-wrapper {
        margin-left: -1000px;
        margin-right: -167px;
        display: grid;
        justify-content: end;

        @if ($left) {
            margin-left: -167px;
            margin-right: -1000px;
            justify-content: start;
        }
    }
    .image {
        position: relative;
        align-self: stretch;
        justify-self: stretch;
        display: grid;
        justify-content: right;
        mask-image: linear-gradient(90deg, transparent 20%, black 60%);
        -webkit-mask-image: linear-gradient(90deg, transparent 20%, black 60%);
        @if ($left) {
            grid-column: 1;
            grid-row: 1;
            mask-image: linear-gradient(-90deg, transparent 20%, black 60%);
            -webkit-mask-image: linear-gradient(-90deg, transparent 20%, black 60%);
            justify-content: left;
            //margin-right: -800px;
            //margin-left: -167px;
        }

        img {

            object-fit: cover;
            mask: $mask no-repeat center center;
            mask-size: contain;
            -webkit-mask: $mask no-repeat center center;
            -webkit-mask-size: contain;
            height: 100%;
        }

        &::after {
            content: '';
            background: $bg no-repeat center center;
            background-size: contain;
        }

        img, &::after {
            display: block;
            grid-column: 1;
            grid-row: 1;
            width: 1432px;
            height: 832px;
            z-index: -1;
        }
    }
    @media (max-width: 900px) {
        > div {
            margin: 64px auto;
        }
    }

}

section.galacticMission-opinion {
    > div {
        justify-content: center;
        align-items: center;
        margin: 192px auto;
    }

    p {
        margin-left: 148px;
        font-family: Nulshock;
        font-size: 48px;
        font-weight: 700;
        line-height: 1.12;

        margin-right: -10px;
        z-index: 1;
        position: relative;
        letter-spacing: 0.4px;
    }

    @include imageWithDescription(false);

    .image {
        img {

            object-position: 81%;
        }
    }

    @media(max-width: 1700px) {
        > div {
            width: auto;
            grid-template-columns: 830px 1fr;
        }
        .image {
            img, &::after {
                width: 1432/1700*100vw;
                height: 832/1700*100vw;
            }
        }

    }
    @media(max-width: 1300px) {
        > div {
            grid-template-columns: 2fr 1fr;
        }
        p {
            margin-left: 130/1300*100vw;
            font-size: 48/1300*100vw;
        }
    }
    @media(max-width: 900px) {
        > div {
            margin: 64px auto;
            grid-template-columns: 1fr;
        }
        p {
            margin: 0 48px -10vw 48px;
            font-size: 7vw;
        }
        .image {
            margin: 0;
            overflow: hidden;
            justify-self: center;

            img, &::after {
                width: 1432/1700*200vw;
                height: 832/1700*200vw;
            }
        }
    }
    @media(max-width: 700px) {
        .image {
            img, &::after {
                width: 1432px * 0.6;
                height: 832px * 0.6;
            }
        }
    }
    @media(max-width: 500px) {
        p {
            margin-left: 36px;
            margin-right: 36px;
            line-height: 1.4;
        }
    }
}

section.metaverse {
    overflow: hidden;

    > div {
        min-height: 600px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

    .description {
        z-index: 1;

        video {
            width: 224px;
            height: 224px;
        }
    }

    h2 {
        margin: 56px 0;

        .subTitle {
            display: block;
            font-size: 72px;
            color: transparent;
            -webkit-text-stroke: .5px white;
            text-transform: uppercase;
            font-family: "Nulshock";
            @media (max-width: 800px) {
                font-size: 9vw;
            }
        }

        .mainTitle {
            display: block;
            text-align: left;
            font-size: 72px;
            text-transform: uppercase;
            font-family: "Nulshock";
            max-width: 900px;
            letter-spacing: -1.5px;
            line-height: 0.95;
            @media (max-width: 800px) {
                font-size: 9vw;
            }
        }
    }

    p {
        font-size: 17px;
        letter-spacing: 0.6px;
        max-width: 663px;
        margin: 28px 0;
    }

    @include imageWithDescription(true, $mask: url(../img/frame2Bmask.svg), $bg: url(../img/frame2B.svg));

    .image {
        img {

            object-position: 0%;
        }

        img, &::after {
            //width: 1954px;
            //height: 832px;
        }
    }

    @media(max-width: 1700px) {
        > div {
            overflow: hidden;
            width: auto;
            grid-template-columns: 1fr 830px;
        }
        .image {
            img, &::after {
                width: 1954/1700*100vw;
                height: 1099/1700*100vw;
            }
        }

    }
    @media(max-width: 1600px) {
        .image {
            img {
                object-position: -150px;
            }
        }
    }
    @media(max-width: 1300px) {
        > div {
            grid-template-columns: 1fr;
        }
        .description {
            grid-column: 1;
            grid-row: 2;
            padding: 0 48px;
        }
        .image-wrapper {
            grid-column: 1;
            grid-row: 1;
            margin-bottom: -20vw;
        }
        .image {
            margin: 0;
            overflow: hidden;
            justify-self: center;
            mask-image: linear-gradient(0deg, transparent 0, black 50%);
            -webkit-mask-image: linear-gradient(0deg, transparent 0, black 50%);

            img, &::after {
                width: 1954/1700*130vw;
                height: 1099/1700*130vw;
                //max-width: 1954/1700*900px;
                //max-height: 1099/1700*900px;
            }
        }
    }
    @media(max-width: 700px) {
        .image {
            img, &::after {
                width: 1954px * .5;
                height: 1099px * .5;
            }
        }

    }
    @media(max-width: 500px) {
        .description {
            padding: 0 36px;
        }
    }
}

section.nft {
    //max-width: 1200px;
    margin: auto;
    height: calc(100vh + 3 * 923px);

    > div {
        overflow: hidden;
        position: sticky;
        top: 0;
        bottom: 0;

        > div.horizontalScroll {
            overflow-x: scroll;
            padding-bottom: 150px;
            margin-bottom: -100px;
            // padding-right: calc(100vw + 1625px * 4);
            > div {
                display: flex;
                margin: 0 calc((100vw - 1625px) / 2);
                width: 1625px*4;
            }
        }
    }

    .ntf-introduction {
        display: grid;
        flex: 1625px 0 0;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr min-content min-content 1fr;

        h2 {
            display: grid;
            align-items: center;
            grid-column: 1;
            grid-row: 2/4;

            img {
                display: block;
                margin-right: 14px;
                margin-left: -14px;
                width: 817px;
            }
        }

        .content {
            grid-column: 2;
            grid-row: 2;
            font-size: 21px;
            width: 524px;
            letter-spacing: 0.2px;
            line-height: 1.32;
            align-self: start;
        }

        p {

            margin: 8px 0;
        }

        .endTitles {
            font-family: NulShock;
            margin-top: 40px;
            font-size: 32px;
            max-width: 466px;
            grid-column: 2;
            grid-row: 3;
            align-self: end;
        }
    }

    .nft-page {
        flex: 1625px 0 0;
        height: 600px;
        display: grid;
        align-self: center;
        align-items: center;
        min-height: 100vh;
        position: relative;

        .text {
            width: calc(100% - 96px);
        }

        .image {
            position: absolute;

            &.image-mech {
                width: 1000px;
                left: 0;
                top: calc(50% - 315px);
                transform: translateX(calc(20% * var(--scroll)));

                img {
                    width: 100%;
                }
            }

            &.image-dron {
                width: 504px;
                left: -166px;
                top: calc(50% - 315px);
                transform: translateX(calc(150% * var(--scroll))) translateY(calc(50% * var(--scroll)));

                img {
                    width: 100%;
                }
            }

            &.image-avatar {
                width: 490px;
                left: 0;
                top: calc(50% - 400px);
                transform: translateX(calc(100% * var(--scroll)));

                img {
                    width: 100%;
                }

            }
        }

    }

    .counters {
        > * {
            position: absolute;
            bottom: 100px;
            left: calc((100vw - 1625px) / 2);
            right: calc((100vw - 1625px) / 2);
            opacity: 0;
        }

        .introduction-arrow {

            hr {
                flex-grow: 1;
                border: none;
                border-bottom: 1px solid;
                margin: 18px 0;
                align-self: center;
                height: 0;

                &::before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 30px;
                    border-right: 1px solid;
                    border-top: 1px solid;
                    transform: rotate(45deg);
                    transform-origin: 100% 0;
                    position: absolute;
                    right: -1px;
                    top: 18.5px;
                }
            }
        }

        .counter {
            grid-row: 2;
            display: flex;
            font-size: 24px;
            font-family: NulShock;
            color: #16b338;

            hr {
                flex-grow: 1;
                border: none;
                border-bottom: 1px solid;
                margin: 0 24px;
                align-self: center;
            }
        }
    }

    @media (max-width: 1750px) {
        > div {

            div.horizontalScroll {
                > div {
                    width: 400vw;
                    margin: 0;
                }
            }
        }
        .ntf-introduction {
            width: 100vw;
            flex-basis: 100vw;
            padding: 0 48px;
            box-sizing: border-box;

            h2 {
                margin: 0;
                padding: 0;

                img {
                    width: calc((100vw - 48px) * 0.5346);
                    margin: 0 24px 0 0;
                }
            }
        }
        .nft-page {
            flex-basis: 100vw;

            .text {
                width: calc(100vw - 48px);
            }

            .image {
                position: absolute;

                &.image-mech {
                    width: 60vw;
                    left: 0;
                    top: calc(50% - 20vw);

                }

                &.image-dron {
                    width: 30vw;
                    left: -10vw;
                    top: calc(50% - 20vw);

                }

                &.image-avatar {
                    width: 30vw;
                    left: 0;
                    top: calc(50% - 25vw);

                }
            }
        }
        .counters {
            > * {
                left: 48px;
                right: 48px;
            }
        }
    }
    @media (max-aspect-ratio: 3/4) and (max-width: 1750px), (max-width: 1200px) {
        .nft-page {
            grid-template-rows: 46vw 1fr;
            align-self: start;

            .image {
                position: static;
                grid-row: 2;
                align-self: center;
                justify-self: center;
                max-height: 80%;
                object-fit: contain;

                &.image-mech {
                    width: 60vw;
                    transform: none;
                }

                &.image-dron {
                    width: 60vw;
                    transform: none;

                }

                &.image-avatar {
                    width: 45vw;
                    transform: none;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        height: auto;
        > div {
            position: relative;
        }
        .ntf-introduction {
            grid-template-columns: 1fr;
            padding: 0 48px;
            justify-items: center;
            align-content: center;
            box-sizing: border-box;
            grid-template-rows: 46vw 1fr max-content;

            h2 {
                text-align: left;
                width: 524px;
                grid-column: 1;
                grid-row: 1;

                img {
                    //width: 400px;
                    margin-right: auto;
                    display: block;
                }
            }

            .content {
                grid-column: 1;
                grid-row: 2;
            }

            .endTitles {
                grid-column: 1;
                grid-row: 3;
                width: 524px;
                max-width: none;
                padding-right: 64px;
                box-sizing: border-box;
                margin-bottom: 80px;

            }
        }
        .counters {
            > * {
                bottom: 56px;
            }
        }
    }
    @media (max-width: 800px) {
        .ntf-introduction {

            .content {
                font-size: 17px;
            }

            .endTitles {
                font-size: 21px;
                padding-right: 217px;
            }
        }
    }
    @media (max-width: 650px) {
        .ntf-introduction {

            h2 {
                width: calc(100vw - 96px);
                justify-self: start;

                img {
                    margin: 0 auto 0 0;
                }
            }

            .content {
                grid-column: 1;
                grid-row: 2;
                width: calc(100vw - 96px);
                justify-self: start;
            }
        }
    }
    @media (max-width: 500px) {
        .ntf-introduction {
            padding: 0 36px;

            .endTitles {
                padding: 0;
                width: auto;
                max-width: 307px;
                margin-right: auto;
            }
        }
    }
}

section.getAdria {
    overflow: hidden;
    margin-top: -200px;
    padding-top: 200px;
    margin-bottom: -200px;
    padding-bottom: 200px;

    > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 600px;
        width: 1625px;
        margin: auto;
        justify-items: stretch;
        align-items: center;
        position: relative;
    }

    .content {
        // width: 600px;
    }

    > div > picture {
        position: absolute;
        right: calc(50% - 1256px);
        img{
            width: 100%;
        }

    }

    h2 {
        grid-column: 1;
        margin: 48px 0;
        width: 600px;
        @media (max-width: 800px) {
            width: 600/800 * 100vw;
        }
    }

    p {
        grid-column: 1;
        font-size: 21px;
        line-height: 29px;
    }

    cut-button {
        --border: #16b338;
        text-transform: uppercase;
    }

    .button-wrapper {
        margin: 64px 0;
    }

    div.sub {
        border-top: 1px solid #707070;
        padding: 32px 0;
        grid-column: 1;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 13px;
        color: #9fa2a9;
        font-weight: 400;

        > * {
            min-height: 48px;
        }

        .exchangeMiniLogo {
            vertical-align: middle;
            margin-left: 16px;
        }

        .address {
            text-decoration: underline;
        }

        .icon-binance {
            font-size: 27px;
            vertical-align: middle;
        }
    }

    @media (max-width: 1700px) {
        > div {
            width: auto;
            margin-left: 48px;
            margin-right: 48px;
            grid-template-columns: 810px 1fr;
        }
        > div > picture {
            right: calc(25% - 1256px + 1700px / 4);
        }
    }
    @media (max-width: 1150px) {
        > div {
            grid-template-columns: 1fr;
        }
        > div > picture {
            position: static;
            width: calc(25vw + 169px);
            grid-row: 1;
            justify-self: center;
        }
        p {
            font-size: 17px;
            line-height: 24px;
        }
    }
    @media (max-width: 500px) {
        > div {
            margin-left: 36px;
            margin-right: 36px;
        }
        .button-wrapper {
            margin: 48px 0;
        }
    }
}

section.supply {
    margin: 192px 0;

    > div {
        width: 1640px;
        margin: 0 auto;
        display: grid;
        align-items: center;
        grid-template-columns: 400px 1fr 400px;
    }

    h2 {
        grid-row: 1;
        grid-column: 1/4;
        text-align: center;
        margin: 32px 0;

        span {
            display: block;
            font-size: 23px;
            font-family: Montserrat;
            font-weight: 400;
            letter-spacing: -0.9px;
        }

        strong {
            display: block;
            line-height: 1.4;
        }
    }

    ul:first-of-type {
        grid-row: 2;
        grid-column: 1;
    }

    .graph {
        grid-row: 2;
        grid-column: 2;
        justify-self: center;

        path[data-supply] {
            stroke: black;
            transform-origin: 254px 254px;
            transition: .5s all ease;

            &.isActive {
                transform: scale(1.1);
            }
        }

        foreignObject {
            mask: url("#circleMask");
            width: 500px;
            height: 500px;
            x: 90px;
            y: 90px;

            img {
                width: 330px;
                height: 330px;
            }

        }
    }

    ul:last-of-type {
        grid-row: 2;
        grid-column: 3;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: grid;
            border-bottom: 1px solid;
            transition: 0.5s ease all;
            grid-template-columns: 114px 1fr;
            padding: 32px 0 12px 0;

            &.isActive {
                color: #16b338;
            }

            h3 {
                grid-row: 1/3;
                grid-column: 1;
                font-size: 36px;
                line-height: 1;
                margin: 0 12px 0 0;
                text-align: right;
            }

            .title {
                grid-row: 1;
                grid-column: 2;
                font-family: NulShock;
                margin: 0 0 14px 0;
                font-size: 21px;
                line-height: 1;
            }

            div {
                grid-row: 2;
                grid-column: 2;
                font-weight: 400;
                line-height: 1.25;
                font-size: 18px;
            }
        }
    }

    @media(max-width: 1750px) {
        > div {
            width: auto;
            margin-left: 48px;
            margin-right: 48px;
        }
    }
    @media(max-width: 1500px) {
        .graph {
            svg {
                width: 320px;
                height: 320px;
            }
        }
    }
    @media(max-width: 1250px) {
        > div {
            grid-template-columns: 1fr;
        }
        h2 {
            grid-row: 1;
            grid-column: 1;
            position: sticky;
            top: -22px;
            background: url("../img/background.png");
            background-position: var(--noisePosition);
            margin: 18px 0;
            padding-bottom: 16px;

            span {
                font-size: 17px;
                letter-spacing: 0.4px;
                margin-bottom: 6px;
            }

            strong {
                font-size: 36px;
                line-height: 1.15;
            }
        }
        .graph {
            grid-row: 2;
            grid-column: 1;
            position: sticky;
            top: 50px;
            border-bottom: 1px solid;
            justify-self: stretch;
            background: url("../img/background.png");
            background-position: var(--noisePosition);

            svg {
                margin: auto;
                display: block;
            }
        }
        ul:first-of-type {
            grid-row: 3;
            grid-column: 1;
        }
        ul:last-of-type {
            grid-row: 4;
            grid-column: 1;
        }
    }
    @media(max-width: 1100px) {
        margin: 96px 0;
    }
    @media(max-width: 700px) {
        ul {
            li {
                grid-template-columns: 84px 1fr;

                h3 {
                    font-size: 21px;
                }
            }
        }
    }
    @media(max-width: 600px) {
        h2 {
            strong {
                min-height: 64px;
                margin-right: -36px;
                margin-left: -36px;
                display: block;
            }
        }
        .graph{
            top:80px
        }
    }
    @media(max-width: 500px) {
        > div {
            margin: 0 36px;
        }
    }
    @media(max-width: 450px) {
        h2 {
            strong {
                font-size: 32px;
                min-height: 36px;
                margin-right: -24px;
                margin-left: -24px;
            }
        }
        .graph {
            top:68px
        }
    }
    @media(max-width: 380px) {
        .graph {
            text-align: center;
            svg {
                width: 280px;
                height: 280px;
                margin: -20px;
                display: inline-block;
                text-align: left;
            }
        }
    }
    @media(max-height: 600px){
        .graph {
            text-align: center;
            svg {
                width: 280px;
                height: 280px;
                margin: -20px;
                display: inline-block;
                text-align: left;
            }
        }
        @media(max-width: 600px) {
            h2 {
                strong {
                    font-size: 6vw;
                }
            }
            .graph{
                top:7vw
            }
        }
    }
@media(max-width: 1250px){
    @media (max-height: 400px), (min-width: 400px) and (max-height: 450px) {
        .graph{
            position: static;
        }
    }
    }
}

.adriaCorporation {

    width: 1625px;
    margin: 146px auto;

    h2 {
        margin-bottom: 88px;
        max-width: 1000px;
    }

    .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 48px 31px;

        > * {
            display: flex;
            flex-direction: column;

            img {
                width: 96px;
                height: 96px;
            }

            h3 {
                order: 2;
                font-family: Montserrat;
                font-size: 24px;
                font-weight: 600;
                margin: 13px 0;
                letter-spacing: 0.6px;
            }

            p {
                order: 3;
                margin: 4px 0 0 0;
                font-size: 17px;
                max-width: 400px;

                letter-spacing: 0.6px;
            }
        }
    }

    @media (max-width: 1750px) {
        width: auto;
        margin-left: 24px;
        margin-right: 24px;
    }
    @media (max-width: 1400px) {

        .list {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 1200px) {
        h2 {
            font-size: 32px;
            max-width: 450px;
        }
    }
    @media (max-width: 950px) {

        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
        .list {
            grid-template-columns: 1fr;
        }
    }

    @media (max-width: 550px) {
        margin-left: 24px;
        margin-right: 24px;

    }
    @media(max-width: 380px) {
        h2 {
            font-size: 28px;
        }
    }
}

.roadmap {
    width: 1625px;
    margin: auto;
    position: relative;


    .drone {
        position: sticky;
        top: calc(50% - 112px);
        bottom: calc(50% - 112px);
        float: left;
        width: 352px;
        margin: 96px 0 0 99px;

        img {
            width: 100%;
        }
    }

    h2 {
        text-align: center;
    }

    .list {
        margin: 54px 0 0 auto;
        width: 914px;

        > * {
            position: relative;
            border-bottom: 1px solid;
            grid-template-columns: 166px 1fr;
            display: grid;
            align-items: start;
            padding-bottom: 30px;
            padding-top: 46px;

            &:before {
                content: "";
                display: block;
                transform: rotate(230deg);
                width: 40px;
                border-bottom: 1px solid;
                position: absolute;
                bottom: 0;
                left: 0;
                transform-origin: 0% 100%;
            }

            h3 {
                grid-row: 1/3;
                grid-column: 1;
                align-self: start;
                justify-self: start;
                font-size: 56px;
                margin: 0;
            }

            ul {
                grid-column: 2;
                margin: 0;
                padding: 0;
                line-height: 26px;

                li {
                    display: block;
                    margin-bottom: 5px;
                    padding-left: 9px;
                    text-indent: -9px;

                    &:before {
                        content: '';
                        background: #f1f1f1;
                        width: 4px;
                        height: 4px;
                        vertical-align: middle;
                        display: inline-block;
                        margin-right: 5px;
                    }
                }

            }

            div {
                grid-column: 2;
            }

            .status {
                display: inline-block;
                background-color: #e1e1e1;
                color: #010101;
                text-transform: uppercase;
                justify-self: start;
                border-radius: 2px;
                padding: 1px 8px;
                font-size: 13px;
                margin: 18px 0;
                font-weight: 500;
            }

            .status-done {
                background-color: #16b338;
            }
        }
    }

    @media (max-width: 1750px) {
        width: auto;
        margin-left: 36px;
        margin-right: 36px;
    }
    @media (max-width: 1600px) {
        .drone {
            margin-left: 0;
        }
    }

    @media (max-width: 1400px) {
        .list {
            margin-left: 410px;
            width: auto;
        }
    }

    @media (max-width: 1200px) {
        > div {
            display: flex;
            flex-direction: column;
        }
        h2 {
            order: 2;
        }
        .drone {
            position: static;
            display: block;
            float: none;
            order: 1;
            margin: 48px auto;
            max-width: 100%;
        }
        .list {
            margin-left: 27px;
            width: auto;
            order: 3;
        }
    }
    @media (max-width: 800px) {
        .list {
            margin: 0;

            h3 {
                font-size: 36px;
            }

            > * {
                grid-template-columns: 1fr;
                padding-bottom: 16px;

                &::before {
                    display: none;
                }

                ul {
                    grid-column: 1;

                    li {

                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.4;
                        letter-spacing: -0.2px;
                    }

                }

                .status {
                    grid-column: 1;
                }
            }
        }
    }

}

.team {
    overflow: hidden;
    margin: 192px 0;

    h2 {
        width: 1640px;
        margin: auto;
    }

    .list-wrapper {
        overflow: hidden;
        margin: 96px 0 48px 0;
    }

    .list {
        display: flex;
        padding: 0 calc((100vw - 1625px) / 2);
        overflow-x: scroll;
        padding-bottom: 100px;
        margin-bottom: -100px;

        > * {
            background: url(../img/frame3.svg);
            background-size: 100% 100%;
            display: flex;
            flex-direction: column;
            width: 428px;
            height: 540px;
            box-sizing: border-box;
            padding: 56px;

            img {
                width: 315px;
                height: 294px;
            }

            .name {
                font-size: 18px;
                letter-spacing: -0.22px;
                margin-top: 24px;
                font-weight: 600;
            }

            .title {
                font-size: 13px;
                letter-spacing: -0.16px;
                flex-grow: 1;
                text-transform: uppercase;
                margin-top: 6px;
                font-weight: 400;
            }

            .links {
                text-align: right;

                a {
                    span {
                        display: none;
                    }
                }
            }
        }
    }

    .slider-wrapper {
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: -1.2px;
        user-select: none;
    }

    drag-slider {
        touch-action: none;
        vertical-align: middle;
        padding: 50px 150px;
        margin: -40px -140px;
    }

    @media(max-width: 1750px) {
        h2 {
            width: auto;
            margin-right: 36px;
            margin-left: 36px;
        }
    }
    @media(max-width: 1200px) {

        margin: 96px 0;
        .list-wrapper {
            margin-top: 48px;
        }
    }

    @media(max-width: 650px) {
        .slider-wrapper {
            text-align: left;
            padding: 0 36px;
        }

        drag-slider {
            width: 100%;
            padding: 50px 0;
            margin: -40px 0;

            &::part(border) {
                width: 100%;
            }
        }
    }
    @media(max-width: 600px) {
        .list {
            padding-left: 36px;
            padding-right: 36px;

            > * {
                width: 304px;
                height: 440px;
                padding: 36px 40px;
                margin-right: 12px;

                img {
                    width: 227px;
                    height: 212px;
                }
            }
        }
    }
}

.behindUs, .partners {
    width: 1665px;
    margin: 176px auto;

    h2 {
        border-bottom: 1px solid;
        position: relative;
        font-size: 50px;
        padding: 16px 12px;

        &:before {
            content: "";
            display: block;
            transform: rotate(230deg);
            width: 40px;
            border-bottom: 1px solid;
            position: absolute;
            bottom: 0;
            left: 0;
            transform-origin: 0% 100%;
        }
    }

    ul {
        display: grid;
        margin: 96px 0;
        padding: 0;
        grid-template-columns: 1fr 1fr 1fr;

        align-items: center;
        justify-items: center;

        li {
            display: grid;
            filter: grayscale(1);
            height: 96px;
            align-content: center;
            justify-items: center;

            img {
                max-width: 100%;
            }
        }
    }

    @media (max-width: 1750px) {
        width: auto;
        margin: 96px 48px;
    }
    @media (max-width: 1200px) {
        ul {
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 800px) {
        h2 {
            font-size: 36px;
        }
        ul {
            grid-template-columns: 1fr;
            margin-top: 48px;

            li {
                height: 80px;
            }
        }
    }
}

section.discover {
    width: 1635px;
    margin: 196px auto;
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        background: url("../img/discoverFrameBottom.svg") 100% 0 no-repeat;
        background-size: 100%;
        height: 110px;
        margin-left: 137px;
    }

    > div {

        background: url("../img/discoverFrameTop.svg") 0 0 no-repeat;
        background-size: 100%;
        margin-left: 137px;
        padding-left: 550px;
    }

    h2 {
        position: absolute;
        left: -7px;
        font-size: 50px;
        width: 504px;
        top: 84px;
    }

    article {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 48px;
        padding: 48px 0 0 0;

        .image {
            width: 228px;
            height: 288px;
            position: relative;
            perspective: 300px;
            grid-row: 1/6;
            align-self: center;
            justify-self: center;
            grid-template-rows: 1fr max-content max-content max-content 1fr;

            img {
                width: 228px;
                height: 288px;
                position: absolute;
                top: 0;
                left: 0;

                &:first-child {
                    transform: rotateX(calc(var(--mouseY) * -15deg)) rotateY(calc(var(--mouseX) * 15deg)) translateZ(-20px);
                }

                &:last-child {
                    transform: rotateX(calc(var(--mouseY) * -15deg)) rotateY(calc(var(--mouseX) * 15deg)) translateZ(20px);
                }
            }
        }

        h3 {
            grid-column: 2;
            grid-row: 2;
            font-size: 32px;
            margin: 0;
        }

        p {
            grid-column: 2;
            grid-row: 3;
            font-size: 21px;
            font-weight: 400;
            max-width: 500px;
            margin: 16px 0;
        }

        cut-button {
            grid-column: 2;
            grid-row: 4;
            justify-self: start;
            align-self: start;
            text-transform: uppercase;
        }
    }

    @media (max-width: 1750px) {
        width: auto;
        margin: 196px 48px;
        > div {
            background-size: 100%;

        }

        &:after {
            background-size: 100% 100%;
            margin-left: 137px;
        }
    }
    @media (max-width: 1650px) {
        > div {
            padding-left: 400px;
        }
    }

    @media (max-width: 1450px) {
        > div {
            margin-left: 0;
            padding: 36px;
        }
        &:before {
            margin-left: 0;
        }

        &:after {
            margin-left: 0;
        }
        h2 {
            position: static;
            width: auto;
        }
    }
    @media (max-width: 1000px) {
        h2 {
            font-size: 36px;
        }
        > div {
            background-image: url("../img/discoverFrameMobileTop.svg");

        }

        &:after {
            background-image: url("../img/discoverFrameMobileBottom.svg");
            height: 20vw;
        }
    }
    @media (max-width: 900px) {
        margin: 96px 36px;
        article {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .image {
                grid-column: 1;
                grid-row: 1;
                justify-self: start;
                margin-bottom: 36px;
            }

            h3 {
                grid-column: 1;
                grid-row: 2;
                font-size: 28px;
            }

            p {
                grid-column: 1;
                grid-row: 3;

            }

            cut-button {
                grid-column: 1;
                grid-row: 4;

            }
        }
    }
    @media (max-width: 500px) {
        margin: 96px 18px;
        > div {
            padding: 48px 18px;
        }
    }
}

main > footer {
    hr {
        border: none;
        height: 26px;
        background: url("../img/joinUs.svg");
        animation: scrollBackground 6s linear infinite;
        @keyframes scrollBackground {
            0% {
                background-position: 283px 0;
            }
            100% {
                background-position: 0 0;
            }
        }
    }

    .logo {
        display: block;
        margin: 164px auto 108px auto;
        width: 260px;
        @media (max-width: 1000px) {
            margin: 96px auto 68px auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            flex: 0 0 170px;
            display: block;

            a {
                text-align: center;
                display: grid;
                grid-template-rows: min-content min-content;
                align-content: start;
                justify-items: center;
                font-size: 13px;

                &::before {
                    font-size: 64px;
                    display: inline-block;
                    margin: 24px auto;
                }
            }
        }

        @media (max-width: 1100px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                a {
                    &::before {
                        font-size: 32px;
                    }
                }
            }
        }
    }

    .email {
        text-align: center;
        display: block;
        margin: 132px auto 184px auto;
        font-size: 21px;
        @media (max-width: 500px) {
            font-size: 18px;
            margin-bottom: 100px;
        }
    }

    .finalFooter {
        max-width: 1625px;
        margin: 96px auto;
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;
        justify-content: space-between;

        > * {
            flex: 0 0 auto
        }

        @media (max-width: 800px) {
            display: block;
            > * {
                margin: 40px 36px;
            }
        }
    }
}