.userProfile {
    text-align: center;
    margin-top: 238px;

    picture {
        display: inline-block;
        width: 120px;
        border-radius: 50%;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .name {
        font-family: NulShock;
        font-size: 28px;
        margin: 12px 48px;
    }

    @media(max-width: 1200px) {
        margin-top: 108px;
    }
        @media(max-width: 600px) {
        picture {
            width: 96px;
        }
        .name {
            font-family: NulShock;
            font-size: 21px;
            margin: 8px 36px;
        }
    }
}