<div *ngIf="connected" id="info">
    <p> Account: {{ account }} </p>
    <button *ngIf="!supportedChain && !unrecognizedChain" (click)="switchChain()" [disabled]="processing" class="green"> Change chain </button>
    <button *ngIf="!supportedChain && unrecognizedChain" (click)="addChain()" [disabled]="processing" class="green"> Add chain </button>
    <button *ngIf="supportedChain && !unrecognizedChain" (click)="addAsset()" class="orange"> Add {{ DEFAULT_ASSET }} </button>
    <button *ngIf="supportedChain && !unrecognizedChain" [disabled]="true" class="green"> Chain ID: {{ chainId }} </button>
</div>

<div *ngIf="connected && supportedChain" id="auth">
    <button *ngIf="authenticated && registered" (click)="logout()" [disabled]="processing" class="purple"> Logout </button>
    <button *ngIf="!authenticated && registered" (click)="login()" [disabled]="processing" class="blue"> Login </button>
    <button *ngIf="!authenticated && !registered" (click)="register()" [disabled]="processing" class="blue"> Register </button>
</div>

<div id="wallet">
    <button *ngIf="connected" (click)="disconnect()" [disabled]="processing" class="red"> Disconnect </button>
    <button *ngIf="!connected" (click)="connect()" [disabled]="processing" class="green"> Connect </button>
</div>
