:host {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
}

* {
    color: #e2e4e6;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato';
}

div {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    gap: 20px 20px;
}

p {
    margin: 0;
}

button {
    padding: 15px;
    background-color: transparent;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.green {
    border-color: #2de364;
}

.green:hover {
    background-color: #6ef48020;
}

.red {
    border-color: #fa5d64;
    
}

.red:hover {
    background-color: #fb6e7520;
}

.blue {
    border-color: #5de2fa;
}

.blue:hover {
    background-color: #6ef3eb20;
}

.purple {
    border-color: #cd5dfa;
}

.purple:hover {
    background-color: #de6eff20;
}
