@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

@font-face {
  font-display: swap;
  font-family: Nulshock;
  font-style: normal;
  font-weight: bold;
  src: url("/assets/fonts/NulshockRg-Bold.eot");
  src: url("/assets/fonts/NulshockRg-Bold.eot?#iefix")
    format("embedded-opentype"),
    url("/assets/fonts/NulshockRg-Bold.woff2") format("woff2"),
    url("/assets/fonts/NulshockRg-Bold.woff") format("woff"),
    url("/assets/fonts/NulshockRg-Bold.ttf") format("truetype");
}

:root {
  --primary-color: #c23b1d;
  --accent-color: #00d62e;
  --component-background-color: #282828;
  --text-primary: #f2f2f2;
}

html {
  background: #000 url("/assets/images/kosmos.jpg") no-repeat center center;
  background-size: cover;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 10px;
  height: auto;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  width: 100%;

  @media screen and (min-width: 1240px) {
    overflow-y: auto;
  }
}

body {
  font-size: 14px;
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  line-height: 1.68rem;
  margin: 0;
}

img {
  max-width: 100%;
}

.arrow-up {
  border-bottom: 5px solid #f2f2f2;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 0;
}

.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #f2f2f2;
  height: 0;
  width: 0;
}
