<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../dist/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <div class="headerBg"></div>
    <header class="isFloating">
        <h1><img src="../img/logo.svg" alt="Crypt0 Mayhem"></h1>
        <nav class="mainMenu mainMenu-few">
            <ul>
                <li>
                    <a href="/">Play</a>
                </li>
                <li>
                    <a href="/">Marketplace</a>
                </li>
                <li>
                    <a href="/">Staking</a>
                </li>
                <li>
                    <a href="/">Vesting</a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li class="isActive">
                    <a href="tmp">EN</a>
                </li>
                <li>
                    <a href="tmp">PL</a>
                </li>
            </ul>
            <cut-button class="buyAdriaButton">CONNECT WALLET</cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section class="productDetails">
        <picture>
            <img src="../img/nftImage.jpg">
        </picture>
        <div class="content">
            <h2>colonisation package</h2>
            <div class="numbers">
                <div>
                    <span>($7350.68)</span>
                    <strong>1.857</strong>
                </div>
                <div>
                    <span>Start of sales</span>
                    <strong>12 D&nbsp;18 H&nbsp;47 M</strong>
                </div>
                <div>
                    <span>Items left</span>
                    <strong>5/100</strong>
                </div>
            </div>
            <p>
                Digital game pieces can be easily tokenised and traded on primary and secondary markets, managed and supported by blockchain.
            </p>
            <cut-button data-disabled>BUY</cut-button>
            <h3>Details</h3>
            <dl>
                <dt>Contract Address</dt>
                <dd></dd>
                <dt>Token ID</dt>
                <dd></dd>
                <dt>Token Standard</dt>
                <dd>BEP-721</dd>
                <dt>Blockchain</dt>
                <dd>BNB</dd>
            </dl>
        </div>
    </section>
    <section class="packageContents">
        <h2>Package contents</h2>
        <div class="list">
            <article>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
                <span class="status revealed">REVEALED</span>
            </article>
            <article>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
            </article>
            <article>
                <div class="timer">
                    <span><strong>12</strong> d</span>
                    <span><strong>18</strong> h</span>
                    <span><strong>47</strong> m</span>
                </div>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
                <span class="status">UNREVEALED</span>
            </article>
            <article>
                <div class="timer">
                    <span><strong>12</strong> d</span>
                    <span><strong>18</strong> h</span>
                    <span><strong>47</strong> m</span>
                </div>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
                <span class="status">UNREVEALED</span>
            </article>
        </div>
    </section>
</main>
</body>
</html>