<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../dist/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <div class="headerBg"></div>
    <header class="isFloating">
        <h1><img src="../img/logo.svg" alt="Crypt0 Mayhem"></h1>
        <nav class="mainMenu mainMenu-few">
            <ul>
                <li>
                    <a href="/">Graj</a>
                </li>
                <li>
                    <a href="/">Rynek</a>
                </li>
                <li>
                    <a href="/">Staking</a>
                </li>
                <li>
                    <a href="/">Vesting</a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li class="isActive">
                    <a href="tmp">EN</a>
                </li>
                <li>
                    <a href="tmp">PL</a>
                </li>
            </ul>
            <cut-button class="buyAdriaButton">POŁĄCZ PORTFEL</cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <section class="productDetails">
        <picture>
            <img src="../img/nftImage.jpg">
        </picture>
        <div class="content">
            <h2>Paczka kolonizacyjna</h2>
            <div class="numbers">
                <div>
                    <span>($7350.68)</span>
                    <strong>1.857</strong>
                </div>
                <div>
                    <span>Czas na ujawnienie pakietu</span>
                    <strong>23 D&nbsp;06 H&nbsp;21 M</strong>
                </div>
                <div>
                    <span>Pozostawione przedmioty</span>
                    <strong>5/100</strong>
                </div>
            </div>
            <p>
                Cyfrowe elementy gier można łatwo tokenizować i handlować na rynkach pierwotnych i wtórnych, zarządzanych i wspierane przez blockchain.
            </p>
            <cut-button>KUP</cut-button>
            <h3>Szczegóły</h3>
            <dl>
                <dt>Adres kontraktu</dt>
                <dd></dd>
                <dt>Token ID</dt>
                <dd></dd>
                <dt>Standard token</dt>
                <dd>BEP-721</dd>
                <dt>Łańcuch</dt>
                <dd>BNB</dd>
            </dl>
        </div>
    </section>
    <section class="packageContents">
        <h2>Zawartość paczki</h2>
        <div class="list">
            <article>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
                <span class="status revealed">Ujawnione</span>
            </article>
            <article>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
            </article>
            <article>
                <div class="timer">
                    <span><strong>12</strong> d</span>
                    <span><strong>18</strong> g</span>
                    <span><strong>47</strong> m</span>
                </div>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
                <span class="status">Nieujawnione</span>
            </article>
            <article>
                <div class="timer">
                    <span><strong>12</strong> d</span>
                    <span><strong>18</strong> g</span>
                    <span><strong>47</strong> m</span>
                </div>
                <picture>
                    <img src="../img/nftImage.jpg">
                </picture>
                <h3>
                    Item #1
                </h3>
                <span class="status">Nieujawnione</span>
            </article>
        </div>
    </section>
</main>
</body>
</html>