<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../dist/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<main>
    <aside class="socialLinks">
        <ul>
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitter"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement" class="icon-telegram"><span>Telegram Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemPolishCommunity" class="icon-telegram"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-yt"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.com/invite/K9EhcfQMdu" class="icon-discord"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-medium"><span>Medium</span></a>
            </li>
        </ul>
    </aside>
    <aside class="sections">
        <ul>
            <li>
                <a href="#galacticMission">
                    <hexagon-number>1</hexagon-number>
                    <span>Zagraj</span></a>
            </li>
            <li>
                <a href="#metaverse">
                    <hexagon-number>2</hexagon-number>
                    <span>Metaverse</span></a>
            </li>
            <li>
                <a href="#nft">
                    <hexagon-number>3</hexagon-number>
                    <span>NFT</span></a>
            </li>
            <li>
                <a href="#tokenomic">
                    <hexagon-number>4</hexagon-number>
                    <span>Tokenomika</span></a>
            </li>
            <li>
                <a href="#roadmap">
                    <hexagon-number>5</hexagon-number>
                    <span>Mapa rozwoju</span></a>
            </li>
            <li>
                <a href="#team">
                    <hexagon-number>6</hexagon-number>
                    <span>Zespół</span></a>
            </li>
            <li>
                <a href="#papers">
                    <hexagon-number>7</hexagon-number>
                    <span>Dokumenty</span></a>
            </li>
            <li>
                <a href="#contact">
                    <hexagon-number>8</hexagon-number>
                    <span>Kontakt</span></a>
            </li>
        </ul>
    </aside>
    <header>
        <h1><img src="../img/logo.svg" alt="Crypt0 Mayhem"></h1>
        <nav class="mainMenu">
            <ul>
                <li class="onlyMobile">
                    <a href="#galacticMission">Zagraj</a>
                </li>
                <li>
                    <a href="#metaverse">Metaverse</a>
                </li>
                <li>
                    <a href="#nft">NFT</a>
                </li>
                <li>
                    <a href="#tokenomic">Tokenomika</a>
                </li>
                <li>
                    <a href="#roadmap">Mapa rozwoju</a>
                </li>
                <li>
                    <a href="#team">Zespół</a>
                </li>
                <li>
                    <a href="#papers">Dokumenty</a>
                </li>
                <li>
                    <a href="#contact">Kontakt</a>
                </li>
            </ul>
        </nav>
        <div class="header-rest">
            <ul class="langSelection">
                <li>
                    <a href="homepage_en.html">EN</a>
                </li>
                <li class="isActive">
                    <a href="homepage.html">PL</a>
                </li>
            </ul>
            <cut-button class="buyAdriaButton">KUP $ADRIA</cut-button>
        </div>
        <div class="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </header>
    <div class="groupOfSections" id="galacticMission">
        <section class="galacticMission">
            <span class="subTitle">Dołącz do</span>
            <span class="mainTitle mainTitle-long">galaktycznej<br>misji</span>
            <cut-button class="playButton" href="play.html">ZAGRAJ</cut-button>
            <picture class="decorativeimage-drones">
                <source srcset="../img/drones1.webp" type="image/webp">
                <source srcset="../img/drones1.png" type="image/png">
                <img srcset="../img/drones1.webp">
            </picture>
            <picture class="decorativeimage-vlad">
                <source srcset="../img/vlad.webp" type="image/webp">
                <source srcset="../img/vlad.png" type="image/png">
                <img src="../img/vlad.png">
            </picture>
        </section>
        <section class="galacticMission-video">
            <div class="video-wrapper">
                <video src="../img/trailer_1080p.mp4" muted autoplay loop></video>
                <div class="buttons">
                    <img src="../img/icons/FullSize.svg" alt="full screen" class="fullScreen">
                    <span class="icon-volume-off volume"></span>
                </div>
            </div>
        </section>
        <section class="galacticMission-opinion">
            <div>
                <p>Pierwsza na świecie gra łącząca ekonomiczną strategię strategiczną i strzelankę z widokiem z góry na
                    dół w technologii blockchain</p>

                <div class="image-wrapper">
                    <div class="image">
                        <img src="../img/galacticMissionBg.jpg">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section class="metaverse">
        <div id="metaverse">
            <div class="description">
                <h2>
                    <span class="mainTitle">Metaverse</span>
                </h2>
                <p>
                    Nowy fascynujący metaverse, w którym połączenie krwawej walki z rozbudowanym modelem
                    ekonomiczno-strategicznym staje się rzeczywistością, dzięki technologii blockchain. Podstawową ideą
                    Crypto Mayhem jest zapewnienie graczom jednej wielkiej gry łączącej w sobie Grand Strategy Economy z
                    Top-Down Shooter. Gra strategiczna to rozwijanie swojej kolonii na obcej planecie, w której
                    mikrozarządzanie dobrami cyfrowymi i walutą wpływa na środowisko zgodnie z zaprojektowanym modelem.
                </p>
                <p>
                    Crypto Mayhem jest wirtualnym światem, w którym w odległej przyszłości ludzkość zjednoczyła się pod
                    przewodnictwem ADRIA CORPORATION, walcząc o przetrwanie z kosmiczną plagą obcych. Walka ta jest nie
                    tylko obroną zamieszkałych planet, ale również wydobyciem cennych surowców, które znajdują się na
                    planetach opanowanych przez obcych.</p>
                <div class="video-wrapper">
                    <video src="../img/critter2_gif.mp4" loop autoplay muted></video>
                </div>
            </div>
            <div class="image-wrapper">
                <div class="image">
                    <img src="../img/mech.jpg">
                </div>
            </div>
        </div>
    </section>
    <section class="nft" id="nft">
        <div>
            <div class="horizontalScroll">
                <div>
                    <div class="ntf-introduction">
                        <h2><img alt="NFT" src="../img/text/NFT.svg"></h2>
                        <div class="content">
                            <p>
                                Nasze <strong>NFT</strong> to wartość atrybutowa w grze. Unikatowe właściwości dla
                                każdego gracza.
                            </p>
                            <p>
                                Każdy może wyprodukować z kombinacji czterech elementów <strong>NFT (ramy, broni,
                                plecaka, procesora)</strong> swojego oryginalnego <strong>Mecha (NFT)</strong>, aby
                                pokonywać hordy przeciwników w krwawej walce o przetrwanie.
                            <p>
                                <strong>Dron (NFT)</strong> wydobywa rzadki surowiec i wspiera mecha w walce.
                            <p>
                                <strong>Avatar (NFT)</strong> i <strong>NPC (NFT)</strong> jako jednostka mogą posiadać
                                przedmiot (NFT) o określonych wartościach, które polepszają daną profesje.
                            <p>
                                Połączenie jednostek z przedmiotem na <strong>land (NFT)</strong> pozwala wydobywać
                                surowce do rozwoju swojej cywilizacji.
                            </p>
                        </div>
                        <div class="endTitles">Mech / Dron / Avatar / NPC / Items / Land</div>
                    </div>
                    <div class="nft-page">
                        <img class="text" src="../img/text/MECH.svg" alt="MECH">
                        <picture class="image image-mech">
                            <source srcset="../img/vlad.webp" type="image/webp">
                            <source srcset="../img/vlad.png" type="image/png">
                            <img srcset="../img/vlad.webp">
                        </picture>
                    </div>

                    <div class="nft-page">
                        <img class="text" src="../img/text/DRON.svg" alt="DRON">
                        <picture class="image image-dron">
                            <source srcset="../img/drones1.webp" type="image/webp">
                            <source srcset="../img/drones1.png" type="image/png">
                            <img srcset="../img/drones1.webp">
                        </picture>
                        <picture class="image image-dron3">
                            <source srcset="../img/drones3.webp" type="image/webp">
                            <source srcset="../img/drones3.png" type="image/png">
                            <img srcset="../img/drones3.webp">
                        </picture>

                    </div>

                    <div class="nft-page">
                        <img class="text" src="../img/text/AVATAR.svg" alt="AVATAR">
                        <picture class="image image-avatar">
                            <source srcset="../img/avatar.webp" type="image/webp">
                            <source srcset="../img/avatar.png" type="image/png">
                            <img srcset="../img/avatar.webp">
                        </picture>
                    </div>
                </div>
            </div>
            <div class="counters">
                <div class="introduction-arrow">
                    <hr>
                </div>
                <div class="counter">
                    <span>01</span>
                    <hr>
                    <span>03</span>
                </div>
                <div class="counter">
                    <span>02</span>
                    <hr>
                    <span>03</span>
                </div>
                <div class="counter">
                    <span>03</span>
                    <hr>
                    <span>03</span>
                </div>
            </div>
        </div>
    </section>
    <section class="getAdria">
        <div>
            <div class="content">
                <h2>
                    Przetrwaj, aby zdobyć $Adria
                </h2>
                <p>
                    $ADRIA (BEP-20) - główna waluta metaverse, używana w całym ekosystemie gry w usługach i handlu.
                    Pozwala na zakładanie targowisk (prowincji) i przejmowanie nad nimi kontroli na określony czas, w
                    celu pobierania podatków od transakcji dokonywanych między graczami w tej przestrzeni handlowej.
                    Żeton zarządzania (DAO) reprezentuje władzę w Adria Corp, pozwalając posiadaczowi decydować o
                    procesie produkcji, balansie gry i może zgłaszać propozycje zmian w grze. DAO będzie decydować o
                    tym, co Adria Corp. powinna zrobić z zebraną pulą tokenów.

                <div class="button-wrapper">
                    <cut-button>Kup $Adria</cut-button>
                </div>
                <div class="sub">
                    <div>$Adria token na giełdach: <img src="../img/icons/Exchange.svg" class="exchangeMiniLogo"></div>
                    <div>Zasilane przez: <span class="icon-binance"></span> BEP20:
                        <!--                        <span class="address"></span><span class="icon-copy"></span>-->
                        SOON
                    </div>
                </div>
            </div>
            <picture>
                <source srcset="../img/token1.webp" type="image/webp">
                <source srcset="../img/token1.png" type="image/png">
                <img src="../img/token1.png">
            </picture>
        </div>
    </section>
    <section class="supply" id="tokenomic">
        <div>
            <h2>
                <span>Całkowita podaż</span>
                <strong>1 000 000 000 $Adria</strong>
            </h2>
            <div class="graph">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg
                        viewBox="0 0 586.82324 587.02478"
                        height="587.02478"
                        width="586.82324">
                    <g
                            transform="translate(39.73559,39.55469)">
                        <mask id="circleMask">
                            <path
                                    style="fill:#ffffff;"
                                    d="m 29,254.94531 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"/>
                        </mask>
                        <mask id="reverseCircleMask">
                            <rect x="-100" y="-100" width="800" height="800"
                                  style="fill:#fff;"/>
                            <path
                                    style="fill:#000;"
                                    class="circle"
                                    d="m 29,254.94531 c 0,-123.71178 100.28822,-224 224,-224 123.71178,0 224,100.28822 224,224 0,123.71178 -100.28822,224 -224,224 -123.71178,0 -224,-100.28822 -224,-224 z"/>
                        </mask>
                        <foreignobject>
                            <picture>
                                <source srcset="../img/token2.webp" type="image/webp"/>
                                <source srcset="../img/token2.png" type="image/png"/>
                                <img src="../img/token2.png"/>
                            </picture>
                        </foreignobject>
                    </g>
                    <g
                            transform="translate(39.73559,39.55469)" mask="url(#reverseCircleMask)">
                        <path
                                d="m 253.88193,254.06337 0,0 110.37299,-216.6196 C 345.1132,27.6907 329.50451,22.00896 308.57169,17.17627 Z"
                                data-supply="4"
                                style="fill:#0f7324;"/>

                        <path
                                d="m 253.88242,254.06303 0,0 25.41241,-241.78631 c -8.01187,-0.84224 -17.35593,-1.33141 -25.41241,-1.33141 z"
                                data-supply="5"
                                style="fill:#16a634;"/>

                        <path
                                d="m 253.88202,254.06294 0,0 54.68979,-236.8871 C 298.10504,14.7595 289.97748,13.39936 279.29447,12.27662 Z"
                                data-supply="1"
                                style="fill:#138c2d;"/>

                        <path
                                d="m 253.88202,254.06311 0,0 L 425.79236,82.15266 C 406.80335,63.16365 388.18256,49.63485 364.25501,37.4435 Z"
                                data-supply="12"
                                style="fill:#0c591c;"/>

                        <path
                                d="m 253.8822,254.06317 0,0 226.96983,-87.12598 C 468.34164,134.34603 450.47764,106.83783 425.79254,82.15272 Z"
                                data-supply="2"
                                style="fill:#094014;"/>

                        <path
                                d="m 253.88217,254.06326 0,0 242.78491,-12.7236 c -1.4055,-26.81718 -6.19131,-49.33168 -15.81509,-74.40236 z"
                                data-supply="11"
                                style="fill:#04260c;"/>

                        <path
                                d="m 253.88246,254.06305 0,0 231.21883,75.12741 c 9.95796,-30.64734 13.25208,-55.67041 11.56609,-87.85101 z"
                                data-supply="3"
                                style="fill:#bef6c9;"/>

                        <path
                                d="m 253.88231,254.06299 0,0 174.88466,168.88394 c 26.11554,-27.04401 44.71669,-58.00055 56.33418,-93.75653 z"
                                data-supply="9"
                                style="fill:#a1fbb4;"/>

                        <path
                                d="m 253.88211,254.06299 0,0 75.12737,231.21893 c 40.86385,-13.27698 69.90987,-31.42755 99.75728,-62.33499 z"
                                data-supply="13"
                                style="fill:#73fb90;"/>

                        <path
                                d="m 253.88217,254.06299 0,0 -46.38907,238.65094 c 42.17712,8.19867 80.65338,5.84583 121.51645,-7.43201 z"
                                data-supply="8"
                                style="fill:#01fb37;"/>

                        <path
                                d="m 253.88217,254.06299 0,0 -168.88385,174.88474 c 34.77084,33.57779 75.04572,54.54318 122.49478,63.7662 z"
                                data-supply="7"
                                style="fill:#17ee45;"/>

                        <path
                                d="m 253.88245,254.06348 0,0 -243.11755,0 c 0,69.82071 24.00916,126.38321 74.23367,174.88474 z"
                                data-supply="10"
                                style="fill:#1dd944;"/>

                        <path
                                d="m 253.88196,254.06303 0,0 0,-243.11772 c -134.27032,0 -243.11755,108.84735 -243.11755,243.11772 z"
                                data-supply="6"
                                style="fill:#19bf3c;"/>

                    </g>
                </svg>
            </div>
            <ul>
                <li data-supply="1">
                    <h3>2%</h3>
                    <span class="title">Seed</span>
                    <div>
                        TGE: 1%<br>
                        Odblokowanie: 74 tyg. / block
                    </div>
                </li>
                <li data-supply="2">
                    <h3>5%</h3>
                    <span class="title">Private A</span>
                    <div>
                        Odblokowanie: 52 tyg. / block
                    </div>
                </li>
                <li data-supply="3">
                    <h3>6.5%</h3>
                    <span class="title">Private B</span>
                    <div>
                        TGE: 4%<br>
                        Odblokowanie: 52 tyg. / block
                    </div>
                </li>
                <li data-supply="4">
                    <h3>4%</h3>
                    <span class="title">GameVerse</span>
                    <div>
                        (Auto-staking) 10% po 2 tyg.<br>
                        Odblokowanie: 14 tyg. / block
                    </div>
                </li>
                <li data-supply="5">
                    <h3>1.5%</h3>
                    <span class="title">IDO</span>
                    <div>
                        TGE: 20%<br>
                        Odblokowanie: 5 tyg. / block
                    </div>
                </li>
                <li data-supply="6">
                    <h3>25%</h3>
                    <span class="title">Graj, aby zarabiać</span>
                    <div>
                        Blokada: 12 tygodni<br>
                        Odblokowanie: 132 tyg. / block
                    </div>
                </li>
                <li data-supply="7">
                    <h3>9%</h3>
                    <span class="title">Marketing</span>
                    <div>
                        Blokada: 1 tygodni<br>
                        Odblokowanie: 80 tyg. / block
                    </div>
                </li>
            </ul>
            <ul>
                <li data-supply="8">
                    <h3>8%</h3>
                    <span class="title">Zespół</span>
                    <div>
                        Blokada: 104 tygodnie następnie 5%<br>
                        Odblokowanie: 52 tyg. / block
                    </div>
                </li>
                <li data-supply="9">
                    <h3>7%</h3>
                    <span class="title">Doradcy</span>
                    <div>
                        Blokada: 52 tyg. następnie 5%<br>
                        Odblokowanie: 52 tyg. / block
                    </div>
                </li>
                <li data-supply="10">
                    <h3>13%</h3>
                    <span class="title">Rezerwy</span>
                    <div>
                        Blokada: 12 tygodni<br>
                        Odblokowanie: 52 tyg. / block
                    </div>
                </li>
                <li data-supply="11">
                    <h3>6%</h3>
                    <span class="title">Stake</span>
                    <div>
                        Blokada: 1 tygodni<br>
                        Odblokowanie: 104 tyg. / block
                    </div>
                </li>
                <li data-supply="12">
                    <h3>5%</h3>
                    <span class="title">Nagrody LP</span>
                    <div>
                        Blokada: 1 tygodni
                        Odblokowanie: 104 tyg. / block
                    </div>
                </li>
                <li data-supply="13">
                    <h3>8%</h3>
                    <span class="title">Giełdy</span>
                    <div>
                        TGE: 15%<br>
                        85% na przyszłe
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="adriaCorporation">
        <div>
            <h2>
                Co mamy w Adria Corporation?
            </h2>
            <div class="list">
                <div>
                    <h3>Stake Adria</h3>
                    <img src="../img/icons/StakeAdria.svg">
                    <p>Pozwala na stakowanie stref miejskich i przejmowanie nad nimi kontroli na określony czas, w celu
                        pozyskiwania podatków z transakcji dokonywanych pomiędzy graczami w ramach danej przestrzeni.
                        Zarządzanie i staking w zamian za dochody protokołu.
                </div>

                <div>
                    <h3>Stake NFT</h3>
                    <img src="../img/icons/StakeNFT.svg">
                    <p>Stake NFT odbywać się będzie poprzez wykorzystane Awatara lub NPC wraz z przedmiotem będących
                        NFT, które będą mogły zostać umieszczone w krainie. Takie postępowanie pozwoli na wydobywanie
                        surowców w grze.
                    </p>
                </div>
                <div>
                    <h3>Mint NFT</h3>
                    <img src="../img/icons/MiniNFT.svg">
                    <p>Oddajemy w Twoje ręce wygląd i atrybuty przyszłego sprzętu mecha. Możesz je skonfigurować w swoim
                        warsztacie i stworzyć swojego własnego unikatowego mecha.
                    </p>
                </div>
                <div>
                    <h3>3D TDS</h3>
                    <img src="../img/icons/3dTDS.svg">
                    <p>Warstwa gry tworzona w silniku unity. Gracze będą mogli korzystać z zakupionych / wytworzonych
                        przez siebie NFT (mechy, drony, bronie) poprzez rozgrywanie misji, w których mogą zdobywać
                        surowce oraz blueprinty. Podczas wykonywania misji gracz musi pokonywać hordy przeciwników w
                        krwawej walce o przetrwanie.
                    </p>
                </div>
                <div>
                    <h3>Prawdziwa własność cyfrowa</h3>
                    <img src="../img/icons/DigitalOwnership.svg">
                    <p>Będziesz wieczystym właścicielem swoich cyfrowych przedmiotów, nawet jeśli gra zostałaby
                        zamknięta lub spowolniła rozwój. Dzięki technologii blockchain każdy element gry można
                        tokenizować co pozwala graczom decydować, w jaki sposób chcą zarządzać swoimi przedmiotami.
                    </p>
                </div>
                <div>
                    <h3>Bezpieczeństwo</h3>
                    <img src="../img/icons/Safety.svg">
                    <p>Cyfrowe elementy gier można łatwo tokenizować i handlować na rynkach wspieranyych przez
                        blockchain. Pozycje oparte na niedoborach zwykle zachwycają do oszustw, ale w przypadku
                        blockchain ryzyko jest zminimalizowane.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="roadmap" id="roadmap">
        <div>
            <h2>
                Mapa rozwoju
            </h2>

            <picture class="drone">
                <source srcset="../img/drones2.webp">
                <source srcset="../img/drones2.png">
                <img src="../img/drones2.png">
            </picture>
            <div class="list">
                <div>
                    <h3>01</h3>
                    <ul>
                        <li>Stworzenie idei Crypto Mayhem</li>
                        <li>Zdefiniowanie struktury firmy</li>
                        <li>Długoterminowa wizja Adria-Art i Adria Games z Crypto Mayhem</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>02</h3>
                    <ul>
                        <li>Uruchomienie mediów społecznościowych</li>
                        <li>Koncepcje Game Art dla mechów i broni</li>
                        <li>Rekrutacja podstawowego zespołu IT</li>
                        <li>Partnerstwo z Comcreo</li>
                        <li>Koncepcja tożsamości marki</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>03</h3>
                    <ul>
                        <li>Partnerstwo z Synapse Network</li>
                        <li>GDD (ver.1)</li>
                        <li>Oficjalna strona internetowa</li>
                        <li>Mapa rozwoju</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>04</h3>
                    <ul>
                        <li>PGA Live Adventure</li>
                        <li>Token ekonomia</li>
                        <li>Rejestracja spółki w Estonii</li>
                        <li>Trailer</li>
                        <li>Whitepaper</li>
                    </ul>
                    <div class="status status-done">done</div>
                </div>
                <div>
                    <h3>05</h3>
                    <ul>
                        <li>$ADRIA przedsprzedaż</li>
                        <li>NFT Avatars, NPCs i przedmioty na sprzedaż</li>
                        <li>$ADRIA IDO</li>
                        <li>$ADRIA liquidity mining</li>
                        <li>$ADRIA early staking</li>
                    </ul>
                    <div class="status status-inProgress">in progress</div>
                </div>
                <div>
                    <h3>06</h3>
                    <ul>
                        <li>$ADRIA CEX listings</li>
                        <li>Misje geologiczne</li>
                        <li>NFT Land - sprzedaż</li>
                        <li>Rozwój podstawowej infrastruktury planety</li>
                    </ul>
                </div>
                <div>
                    <h3>07</h3>
                    <ul>
                        <li>NFT Legendarne Drony - sprzedaż</li>
                        <li>NFT Drony staking w mining spots na nagrody w Mechanium</li>
                    </ul>
                </div>
                <div>
                    <h3>08</h3>
                    <ul>
                        <li>NFT Legendarne Mechy - sprzedaż</li>
                        <li>MVP Top-Down Shooter (alfa)</li>
                    </ul>
                </div>
                <div>
                    <h3>09</h3>
                    <ul>
                        <li>$ADRIA staking do kontroli stref miejskich</li>
                    </ul>
                </div>
                <div>
                    <h3>10</h3>
                    <ul>
                        <li>NFT Legendary weapons - sprzedaż</li>
                        <li>Top-Down Shooter (beta)</li>
                    </ul>
                </div>
                <div>
                    <h3>11</h3>
                    <ul>
                        <li>Zaawansowany rozwój infrastruktury planety</li>
                    </ul>
                </div>
                <div>
                    <h3>12</h3>
                    <ul>
                        <li>Top-Down Shooter PVE</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="team" id="team">
        <h2>Zespół</h2>
        <div class="list-wrapper">
            <div class="list">
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
                <div>
                    <img src="../img/person.png">
                    <div class="name">Paulina Kowalczyk</div>
                    <div class="title">CEO developer</div>
                    <div class="links">
                        <a href="/" class="icon-linkedin"><span>Linkedin</span></a>
                        <a href="/" class="icon-twitter"><span>Twitter</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-wrapper">
            Przeciągnij
            <drag-slider></drag-slider>
        </div>
    </section>
    <section class="behindUs">
        <h2>Wsparcie</h2>
        <ul>
            <li>
                <a href="https://adriagames.com/"><img src="../img/logos/AdriaGames.svg" alt="Adria Games"></a></li>
            <li><a href="https://adria-art.pl/"><img src="../img/logos/AdriaArt.png" alt="Adria Art"></a></li>
            <li><a href="https://comcreo.com/"><img src="../img/logos/Comcreo.svg" alt="Comcreo"></a>
            </li>
        </ul>
    </section>
    <section class="partners" id="partners">
        <h2>Partnerzy</h2>
        <ul>
            <li>
                <a href="https://synapse.network/"><img src="../img/logos/SynapseNetwork.svg" alt="Synapse Network"></a>
            </li>
            <li>
                <a href="https://kryptoekipa.pl/"><img src="../img/logos/Kryptoekipa.svg" alt="Kryptoekipa"></a>
            </li>
            <li>
                <a href="https://twitter.com/HussarsV"><img src="../img/logos/HussarsVentures.svg"
                                                            alt="Hussars Ventures"></a>
            </li>
        </ul>
    </section>
    <section class="discover" id="papers">
        <div class="mouseReactive">
            <h2>Dowiedz się więcej o Crypto Mayhem</h2>
            <article>
                <div class="image">
                    <img src="../img/whitepaperBack.svg">
                    <img src="../img/whitepaperFront.svg">
                </div>

                <h3>Whitepaper</h3>
                <p>Szczegółowy opis zawartości projektu w tym funkcjonalności naszego tokena oraz NFT. Przegląd
                    całego
                    ekosystemu oraz interpretacje wizualne.</p>
                <cut-button href="/">Download</cut-button>
            </article>
            <article>
                <div class="image">
                    <img src="../img/pitchdeckBack.svg">
                    <img src="../img/pitchdeckFront.svg">
                </div>

                <h3>PITCHDECK</h3>
                <p>Wizualizacja projektu gry. Dzięki niemu zrozumiesz wstępnie nasz ecosystem oraz zapoznasz się z
                    wizją projektu.</p>
                <cut-button href="/">Download</cut-button>
            </article>
        </div>
    </section>
    <footer id="contact">
        <hr class="joinUs">
        <img src="../img/logo.svg" alt="Crypt0Mayhem" class="logo">

        <ul class="socialLinks">
            <li>
                <a href="https://twitter.com/CryptoMayhem_io" class="icon-twitterlight"><span>Twitter</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemAnnouncement"
                   class="icon-telegramlight"><span>Telegram Announcement</span></a>
            </li>
            <li>
                <a href="https://t.me/CryptoMayhemPolishCommunity" class="icon-telegramlight"><span>Telegram Chat</span></a>
            </li>
            <li>
                <a href="https://www.youtube.com/c/AdriaGames" class="icon-ytlight"><span>YouTube</span></a>
            </li>
            <li>
                <a href="https://discord.com/invite/K9EhcfQMdu" class="icon-discordlight"><span>Discord</span></a>
            </li>
            <li>
                <a href="https://medium.com/@crypto_mayhem" class="icon-mediumlight"><span>Medium</span></a>
            </li>
        </ul>
        <a href="mailto:info@crypt0mayhem.io" class="email">info@crypt0mayhem.io</a>
        <div class="finalFooter">
            <div>&copy; 2022 Crypto Mayhem</div>
            <div>
                <a href="/">Privacy Policy</a><br>
                <a href="/">Terms & Conditions</a>
            </div>
            <div>
                Designed by <a href="https://www.behance.net/oskartomecki" class="creatorsLink">Oskar Tomecki</a><br>
                Coded by <a href="https://green-code.studio/" class="creatorsLink">Green Code Studio</a>
            </div>
        </div>
    </footer>
</main>
</body>
</html>