
section.discover {
    width: 1635px;
    margin: 196px auto;
    position: relative;

    &:after {
        content: '';
        display: block;
        background: url("../img/discoverFrameBottom.svg") 100% 0 no-repeat;
        background-size: 100%;
        height: 110px;
        margin-left: 137px;
    }

    > div {

        background: url("../img/discoverFrameTop.svg") 0 0 no-repeat;
        background-size: 100%;
        margin-left: 137px;
        padding-left: 550px;
    }

    h2 {
        position: absolute;
        left: 0;
        font-size: 50px;
        width: 504px;
        top: 84px;
    }

    article {
        display: grid;
        grid-template-columns: max-content 1fr;
        column-gap: 48px;
        padding: 48px 0 0 0;

        .image {
            width: 228px;
            height: 288px;
            position: relative;
            perspective: 300px;
            grid-row: 1/6;
            align-self: center;
            justify-self: center;
            grid-template-rows: 1fr max-content max-content max-content 1fr;

            img {
                width: 228px;
                height: 288px;
                position: absolute;
                top: 0;
                left: 0;

                &:first-child {
                    animation: movementRightCenterBack 8s ease-in-out infinite;
                }

                &:last-child {
                    animation: movementRightCenterFront 8s ease-in-out infinite;
                }

                @keyframes movementRightCenterBack {
                    0% {
                        transform: rotateY(-10deg) translateZ(-20px);

                    }
                    50% {
                        transform: rotateY(10deg) translateZ(-20px);

                    }
                    100% {
                        transform: rotateY(-10deg) translateZ(-20px);

                    }
                }
                @keyframes movementRightCenterFront {
                    0% {
                        transform: rotateY(-10deg) translateZ(20px);

                    }
                    50% {
                        transform: rotateY(10deg) translateZ(20px);

                    }
                    100% {
                        transform: rotateY(-10deg) translateZ(20px);

                    }
                }
            }
        }

        h3 {
            grid-column: 2;
            grid-row: 2;
            font-size: 32px;
            margin: 0;
        }

        p {
            grid-column: 2;
            grid-row: 3;
            font-size: 21px;
            font-weight: 400;
            max-width: 500px;
            margin: 16px 0;
        }

        cut-button {
            grid-column: 2;
            grid-row: 4;
            justify-self: start;
            align-self: start;
            text-transform: uppercase;
        }
    }

    @media (max-width: 1750px) {
        width: auto;
        margin: 196px 48px;
        > div {
            background-size: 100%;

        }

        &:after {
            background-size: 100% 100%;
            margin-left: 137px;
        }
    }
    @media (max-width: 1650px) {
        > div {
            padding-left: 400px;
        }
    }

    @media (max-width: 1450px) {
        overflow: hidden;
        > div {
            margin-left: 0;
            padding: 36px;
        }
        &:before {
            margin-left: 0;
        }

        &:after {
            margin-left: 0;
        }
        h2 {
            position: static;
            width: auto;
        }
    }
    @media (max-width: 1000px) {
        h2 {
            font-size: 36px;
        }
        > div {
            background-image: url("../img/discoverFrameMobileTop.svg");
            padding-bottom: 0;
        }

        &:after {
            background-image: url("../img/discoverFrameMobileBottom.svg");
            height: 20vw;
        }
    }
    @media (max-width: 900px) {
        margin: 96px 36px;
        article {
            grid-template-columns: 1fr;
            grid-template-rows: auto;

            .image {
                grid-column: 1;
                grid-row: 1;
                justify-self: start;
                margin-bottom: 36px;
            }

            h3 {
                grid-column: 1;
                grid-row: 2;
                font-size: 28px;
            }

            p {
                grid-column: 1;
                grid-row: 3;
                font-size: 17px;

            }

            cut-button {
                grid-column: 1;
                grid-row: 4;
                margin-top: 20px;
            }
        }
    }
    @media (max-width: 500px) {
        margin: 96px 18px;
        > div {
            padding: 48px 18px 0 18px;
        }
        &::after {
            height: 13vw;
        }
    }
}