
main > footer {
    hr {
        border: none;
        height: 26px;
        background: url("../img/joinUs.svg");
        animation: scrollBackground 6s linear infinite;
        @keyframes scrollBackground {
            0% {
                background-position: 283px 0;
            }
            100% {
                background-position: 0 0;
            }
        }
    }

    .logo {
        display: block;
        margin: 164px auto 108px auto;
        width: 260px;
        @media (max-width: 1000px) {
            margin: 96px auto 68px auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            flex: 0 0 170px;
            display: block;

            a {
                text-align: center;
                display: grid;
                grid-template-rows: min-content min-content;
                align-content: start;
                justify-items: center;
                font-size: 13px;


                &::before {
                    font-size: 64px;
                    display: inline-block;
                    margin: 24px auto;
                }
            }
        }

        @media (max-width: 1100px) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        @media (max-width: 500px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            li {
                a {
                    &::before {
                        font-size: 32px;
                    }
                }
            }
        }
    }

    .email {
        text-align: center;
        display: block;
        margin: 132px auto 184px auto;
        font-size: 21px;
        @media (max-width: 500px) {
            font-size: 18px;
            margin-bottom: 100px;
        }
    }

    .finalFooter {
        max-width: 1625px;
        margin: 96px auto 48px auto;
        display: flex;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: end;
        justify-content: space-between;

        > * {
            flex: 0 0 auto
        }

        @media (max-width: 800px) {
            display: block;
            > * {
                margin: 40px 36px;
            }
        }
    }
    .creatorsLink{
        text-decoration: underline;
    }
}