.groupOfSections {
    overflow: hidden;
    margin-bottom: -196px;
    @media(max-width: 900px) {
        margin-bottom: 0px;
    }
}

@mixin imageWithDescription($left, $mask:url(../img/frame2mask.svg), $bg:url(../img/frame2.svg)) {
    > div {
        width: 1662px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 192px auto;
    }
    .description {
        @if ($left) {
            grid-column: 2;
            grid-row: 1;
        }
    }
    .image-wrapper {
        margin-left: -1000px;
        margin-right: -167px;
        display: grid;
        justify-content: end;

        @if ($left) {
            margin-left: -167px;
            margin-right: -1000px;
            justify-content: start;
        }
    }
    .image {
        position: relative;
        align-self: stretch;
        justify-self: stretch;
        display: grid;
        justify-content: right;
        mask-image: linear-gradient(90deg, transparent 20%, black 60%);
        -webkit-mask-image: linear-gradient(90deg, transparent 20%, black 60%);
        @if ($left) {
            grid-column: 1;
            grid-row: 1;
            mask-image: linear-gradient(-90deg, transparent 20%, black 60%);
            -webkit-mask-image: linear-gradient(-90deg, transparent 20%, black 60%);
            justify-content: left;
            //margin-right: -800px;
            //margin-left: -167px;
        }

        img {

            object-fit: cover;
            mask: $mask no-repeat center center;
            mask-size: contain;
            -webkit-mask: $mask no-repeat center center;
            -webkit-mask-size: contain;
            height: 100%;
        }

        &::after {
            content: '';
            background: $bg no-repeat center center;
            background-size: contain;
        }

        img, &::after {
            display: block;
            grid-column: 1;
            grid-row: 1;
            width: 1432px;
            height: 832px;
            z-index: -1;
        }
    }
    @media (max-width: 900px) {
        > div {
            margin: 64px auto;
        }
    }

}

@import "./galacticMission";
@import "./metaverse";
@import "./nft";
@import "./getAdria";
@import "./supply";
@import "./roadmap";
@import "./adriaCorporation";
@import "./team";
@import "./behindUs";
@import "./discover";
@import "./footer";