
section.supply {
    margin: 192px 0;

    > div {
        width: 1640px;
        margin: 0 auto;
        display: grid;
        align-items: center;
        grid-template-columns: 400px 1fr 400px;
    }

    h2 {
        grid-row: 1;
        grid-column: 1/4;
        text-align: center;
        margin: 32px 0;

        span {
            display: block;
            font-size: 23px;
            font-family: Montserrat;
            font-weight: 400;
            letter-spacing: -0.9px;
        }

        strong {
            display: block;
            line-height: 1.4;
        }
    }

    ul:first-of-type {
        grid-row: 2;
        grid-column: 1;
    }

    .graph {
        grid-row: 2;
        grid-column: 2;
        justify-self: center;

        path[data-supply] {
            stroke: black;
            transform-origin: 254px 254px;
            transition: .5s all ease;

            &.isActive {
                transform: scale(1.1);
            }
        }

        foreignObject {
            mask: url("#circleMask");
            width: 500px;
            height: 500px;
            x: 90px;
            y: 90px;

            img {
                width: 330px;
                height: 330px;
            }

        }
    }

    ul:last-of-type {
        grid-row: 2;
        grid-column: 3;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: grid;
            border-bottom: 1px solid;
            transition: 0.5s ease all;
            grid-template-columns: 114px 1fr;
            padding: 32px 0 12px 0;

            &.isActive {
                color: #16b338;
            }

            h3 {
                grid-row: 1/3;
                grid-column: 1;
                font-size: 36px;
                line-height: 1;
                margin: 0 12px 0 0;
                text-align: right;
            }

            .title {
                grid-row: 1;
                grid-column: 2;
                font-family: NulShock;
                margin: 0 0 14px 0;
                font-size: 21px;
                line-height: 1;
            }

            div {
                grid-row: 2;
                grid-column: 2;
                font-weight: 400;
                line-height: 1.25;
                font-size: 18px;
            }
        }
    }

    @media(max-width: 1750px) {
        > div {
            width: auto;
            margin-left: 48px;
            margin-right: 48px;
        }
    }
    @media(max-width: 1500px) {
        .graph {
            svg {
                width: 320px;
                height: 320px;
            }
        }
    }
    @media(max-width: 1250px) {
        > div {
            grid-template-columns: 1fr;
        }
        h2 {
            grid-row: 1;
            grid-column: 1;
            position: sticky;
            top: -22px;
            background: url("../img/background.png");
            background-position: var(--noisePosition);
            margin: 18px 0;
            padding-bottom: 16px;

            span {
                font-size: 17px;
                letter-spacing: 0.4px;
                margin-bottom: 6px;
            }

            strong {
                font-size: 36px;
                line-height: 1.15;
            }
        }
        .graph {
            grid-row: 2;
            grid-column: 1;
            position: sticky;
            top: 50px;
            border-bottom: 1px solid;
            justify-self: stretch;
            background: url("../img/background.png");
            background-position: var(--noisePosition);

            svg {
                margin: auto;
                display: block;
                width: calc(320px - 48px* var(--scroll));
                height: calc(320px - 48px* var(--scroll));
            }
        }
        ul:first-of-type {
            grid-row: 3;
            grid-column: 1;
        }
        ul:last-of-type {
            grid-row: 4;
            grid-column: 1;
        }
    }
    @media(max-width: 1100px) {
        margin: 96px 0;
    }
    @media(max-width: 700px) {
        margin-top: 48px;
        ul {
            li {
                grid-template-columns: 84px 1fr;

                h3 {
                    font-size: 21px;
                }
            }
        }
    }
    @media(max-width: 600px) {
        h2 {
            strong {
                min-height: 64px;
                margin-right: -36px;
                margin-left: -36px;
                display: block;
            }
        }
        .graph {
            top: 80px
        }
    }
    @media(max-width: 500px) {
        > div {
            margin: 0 36px;
        }
    }
    @media(max-width: 450px) {
        h2 {
            strong {
                font-size: 32px;
                min-height: 36px;
                margin-right: -24px;
                margin-left: -24px;
            }
        }
        .graph {
            top: 68px
        }
    }
    @media(max-width: 380px) {
        .graph {
            text-align: center;

            svg {
                width: calc(280px - 48px* var(--scroll));
                height: calc(280px - 48px* var(--scroll));
                margin: -20px;
                display: inline-block;
                text-align: left;
            }
        }
    }
    @media(max-height: 600px) {
        .graph {
            text-align: center;

            svg {
                width: 280px;
                height: 280px;
                margin: -20px;
                display: inline-block;
                text-align: left;
            }
        }
        @media(max-width: 600px) {
            h2 {
                strong {
                    font-size: 6vw;
                }
            }
            .graph {
                top: 7vw
            }
        }
    }
    @media(max-width: 1250px) {
        @media (max-height: 400px), (min-width: 400px) and (max-height: 450px) {
            .graph {
                position: static;
            }
        }
    }
}